# DATA SKEWNESS SPARK_PARTITION_ID

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/27 18:45:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [8]:
schema = StructType([
    StructField("Year",IntegerType(),False),
    StructField("First Name",StringType(),True),
    StructField("County",StringType(),True),
    StructField("Sex",StringType(),True),
    StructField("Count",IntegerType(),True),
    
])

In [9]:
df_names = spark.read.format("csv").schema(schema).option("header","true").load("../datasets/baby_names.csv")

In [10]:
df_names.show()

+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
+----+----------+-----------+---+-----+
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
|2007|       ZEV|   ROCKLAND|  M|    6|
+----+----------+-----------+---+-----+
only showing top 20 rows

In [11]:
df_names.rdd.getNumPartitions()

1

## CHECK PARTITION ID

In [12]:
from pyspark.sql.functions import spark_partition_id

In [14]:
df_names.withColumn("partition_id",spark_partition_id()).show()

+----+----------+-----------+---+-----+------------+
|Year|First Name|     County|Sex|Count|partition_id|
+----+----------+-----------+---+-----+------------+
|2007|      ZOEY|      KINGS|  F|   11|           0|
|2007|      ZOEY|    SUFFOLK|  F|    6|           0|
|2007|      ZOEY|     MONROE|  F|    6|           0|
|2007|      ZOEY|       ERIE|  F|    9|           0|
|2007|       ZOE|     ULSTER|  F|    5|           0|
|2007|       ZOE|WESTCHESTER|  F|   24|           0|
|2007|       ZOE|      BRONX|  F|   13|           0|
|2007|       ZOE|   NEW YORK|  F|   55|           0|
|2007|       ZOE|     NASSAU|  F|   15|           0|
|2007|       ZOE|       ERIE|  F|    6|           0|
|2007|       ZOE|    SUFFOLK|  F|   14|           0|
|2007|       ZOE|      KINGS|  F|   34|           0|
|2007|       ZOE|     MONROE|  F|    9|           0|
|2007|       ZOE|     QUEENS|  F|   26|           0|
|2007|       ZOE|     ALBANY|  F|    5|           0|
|2007|     ZISSY|   ROCKLAND|  F|    5|           0|
|2007|     ZISSY|      KINGS|  F|   27|           0|
|2007|      ZION|      KINGS|  M|   15|           0|
|2007|      ZION|      BRONX|  M|   14|           0|
|2007|       ZEV|   ROCKLAND|  M|    6|           0|
+----+----------+-----------+---+-----+------------+
only showing top 20 rows

In [15]:
df_names_re = df_names.repartition(20).withColumn("partition_id",spark_partition_id())

df_names_re.show(100)

+----+-----------+-----------+---+-----+------------+
|Year| First Name|     County|Sex|Count|partition_id|
+----+-----------+-----------+---+-----+------------+
|2008|     BRENDA|   ROCKLAND|  F|    5|           0|
|2011|     ALEXIS|      KINGS|  M|   14|           0|
|2014|   ISABELLA|     Oswego|  F|    7|           0|
|2010|    AALIYAH|   DUTCHESS|  F|    7|           0|
|2014|     MORGAN|     Monroe|  F|   10|           0|
|2009|      DYLAN|    SUFFOLK|  M|   87|           0|
|2009|     SAWYER|       ERIE|  M|    5|           0|
|2009|     MARIAM|      BRONX|  F|   17|           0|
|2014|     GEORGE|       Erie|  M|    5|           0|
|2008|     GIANNA|       ERIE|  F|   35|           0|
|2013|       ADAM|   DUTCHESS|  M|    5|           0|
|2014|   KINGSTON|      Kings|  M|    9|           0|
|2013|       NORA|     MONROE|  F|    9|           0|
|2008|      GRACE|     ONEIDA|  F|    9|           0|
|2012|  ALEXANDER|   SARATOGA|  M|   15|           0|
|2012|    MADELYN|     MONROE|  F|   13|           0|
|2009|      CHAVY|      KINGS|  F|   21|           0|
|2009|      LAYLA|      BRONX|  F|   23|           0|
|2007|       OWEN|   NEW YORK|  M|   35|           0|
|2010|     MEGHAN|   ONONDAGA|  F|    5|           0|
|2008|     SYDNEY|     ORANGE|  F|    7|           0|
|2013|      ROIZA|      KINGS|  F|   11|           0|
|2010|    ADRIANA|       ERIE|  F|    5|           0|
|2007|      DIANA|   NEW YORK|  F|   16|           0|
|2009|     EMILIA|     QUEENS|  F|   10|           0|
|2012|     DECLAN|     MONROE|  M|   13|           0|
|2012|     JOSHUA|   NEW YORK|  M|   50|           0|
|2011|      EMILY|   ONONDAGA|  F|   20|           0|
|2007|    NATALIE|   DELAWARE|  F|    6|           0|
|2009|      FIONA|WESTCHESTER|  F|    6|           0|
|2007|    CAITLIN|WESTCHESTER|  F|   14|           0|
|2014|    BRENDAN|Westchester|  M|    9|           0|
|2014|     ELIANA|     Monroe|  F|    9|           0|
|2008|      SHIRA|     NASSAU|  F|    5|           0|
|2013|      SHANE|WESTCHESTER|  M|    7|           0|
|2010|CHRISTOPHER|   NEW YORK|  M|   48|           0|
|2014|    DOMINIC|     Queens|  M|   18|           0|
|2012|       ZION|     MONROE|  M|    6|           0|
|2007|     CAYDEN|     ALBANY|  M|    5|           0|
|2011|   GIOVANNI|       ERIE|  M|   11|           0|
|2011|     CONNOR| CHAUTAUQUA|  M|    7|           0|
|2014|     GIANNA|     Orange|  F|    8|           0|
|2008|   BENJAMIN|      BRONX|  M|   17|           0|
|2012|  ALEXANDRA|       ERIE|  F|   10|           0|
|2011|     ANDREW|   ROCKLAND|  M|   12|           0|
|2010|      NAHLA|      KINGS|  F|   11|           0|
|2014|      MARIA|Westchester|  F|   12|           0|
|2009|      PAIGE|     ONEIDA|  F|    6|           0|
|2008|     JOHNNY|    SUFFOLK|  M|    5|           0|
|2013|   KIMBERLY|      BRONX|  F|   18|           0|
|2014|       ZOEY|Schenectady|  F|    5|           0|
|2009|      LUCAS|     CAYUGA|  M|    5|           0|
|2013|    ARIANNA|   ROCKLAND|  F|    7|           0|
|2012|       LUCA|    SUFFOLK|  M|   19|           0|
|2014|     JORDAN|   Dutchess|  M|    5|           0|
|2012|     KAYLEE|     ORANGE|  F|    6|           0|
|2007|      MASON| RENSSELAER|  M|    7|           0|
|2013|  CHRISTIAN| RENSSELAER|  M|    5|           0|
|2012|       SIMA|   ROCKLAND|  F|    7|           0|
|2008|       EMMA|    CLINTON|  F|    9|           0|
|2007|     GIANNA|     ORANGE|  F|   15|           0|
|2014|    DANIELA|      Kings|  F|   12|           0|
|2007|     PHILIP|WESTCHESTER|  M|    5|           0|
|2014|      ISAAC|   New York|  M|   37|           0|
|2007|     LAUREN|    ONTARIO|  F|    7|           0|
|2010|    ABRAHAM|     NASSAU|  M|    5|           0|
|2014|      MAEVE|     Monroe|  F|    6|           0|
|2009|     HAYDEN|ST LAWRENCE|  M|    6|           0|
|2009|     CARLOS|     NASSAU|  M|   18|           0|
|2007|     HAILEY|      KINGS|  F|   31|           0|
|2007|    MOHAMED|      BRONX|  M|   28|           0|
|2013|       LIAM|     CAYUGA|  M|    5|           0|
|2011|  CHRISTIAN|      BRONX|  M|   73|           0|
|2010|    JAMESON|   SARATOGA|  M|    5|           0|
|2013|      JAMES|      BRONX|  M|   33|           0|
|2010|     SOPHIA|   TOMPKINS|  F|    7|           0|
|2014|   VICTORIA|   Dutchess|  F|    7|           0|
|2007|       MARK|   ROCKLAND|  M|    5|           0|
|2009|        ALI|      KINGS|  M|   31|           0|
|2013|      RILEY|     NASSAU|  F|   32|           0|
|2007|       JADA|      BRONX|  F|   44|           0|
|2013|        ELI|   TOMPKINS|  M|    7|           0|
|2008|   ISABELLA|SCHENECTADY|  F|   26|           0|
|2008|  CHRISTIAN|   RICHMOND|  M|   30|           0|
|2014|  GENEVIEVE|     Monroe|  F|    5|           0|
|2009|      BRADY| RENSSELAER|  M|    5|           0|
|2008|   SAMANTHA|   SARATOGA|  F|    8|           0|
|2010|    MARIAMA|      BRONX|  F|   12|           0|
|2014|      AMARE|      Kings|  M|    6|           0|
|2007|     ISAIAH|SCHENECTADY|  M|    7|           0|
|2012|       ELLA|      KINGS|  F|   57|           0|
|2007|     ALISON|WESTCHESTER|  F|    9|           0|
|2014|    SHERLYN|      Kings|  F|    5|           0|
|2008|  ALEXANDER|    SUFFOLK|  M|  115|           0|
|2008|      KARLA|    SUFFOLK|  F|    8|           0|
|2010|     SOPHIE|WESTCHESTER|  F|   14|           0|
|2013|       ABEL|      BRONX|  M|   15|           0|
|2008|    MADISON|     ALBANY|  F|   13|           0|
|2010|       LANA|    SUFFOLK|  F|    5|           0|
|2009|     ALEXIS|      BRONX|  F|   16|           0|
+----+-----------+-----------+---+-----+------------+
only showing top 100 rows

In [16]:
df_names_re.rdd.getNumPartitions()

20

## Show Records Per Partition

In [18]:
from pyspark.sql.functions import asc, desc

In [19]:
df_names_re.groupBy("partition_id").count().orderBy(desc("count")).show()

+------------+-----+
|partition_id|count|
+------------+-----+
|           0| 2613|
|           9| 2613|
|          10| 2613|
|          11| 2613|
|          12| 2613|
|          13| 2613|
|          14| 2613|
|          15| 2613|
|          16| 2613|
|          17| 2613|
|          18| 2613|
|          19| 2613|
|           1| 2612|
|           2| 2612|
|           3| 2612|
|           4| 2612|
|           5| 2612|
|           6| 2612|
|           7| 2612|
|           8| 2612|
+------------+-----+