#DELTA LAKE

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/delta/demo/_delta_log/")

Out[56]: [FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-0', name='.s3-optimization-0', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-1', name='.s3-optimization-1', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-2', name='.s3-optimization-2', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.crc', name='00000000000000000000.crc', size=2206, modificationTime=1724365830000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.json', name='00000000000000000000.json', size=1228, modificationTime=1724365802000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.crc', name='00000000000000000001.crc', size=2847, modificationTime=1724366399000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.json', name='00000000000000000001.json', size=1173, modificationTime=1724366394000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.crc', name='00000000000000000002.crc', size=3489, modificationTime=1724366791000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.json', name='00000000000000000002.json', size=1178, modificationTime=1724366786000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000003.crc', name='00000000000000000003.crc', size=4127, modificationTime=1724366796000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000003.json', name='00000000000000000003.json', size=1174, modificationTime=1724366793000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000004.crc', name='00000000000000000004.crc', size=4751, modificationTime=1724366800000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000004.json', name='00000000000000000004.json', size=1160, modificationTime=1724366797000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000005.crc', name='00000000000000000005.crc', size=5386, modificationTime=1724366804000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000005.json', name='00000000000000000005.json', size=1171, modificationTime=1724366801000)]

## Create delta table

In [0]:
from delta.tables import *

In [0]:
DeltaTable.createOrReplace(spark) \
    .tableName("delta_demo") \
    .addColumn("id","INT") \
    .addColumn("name","STRING") \
    .addColumn("gender","STRING") \
    .addColumn("salary","INT") \
    .addColumn("dept","STRING") \
    .property("description","delta table") \
    .location("dbfs:/FileStore/tables/delta/demo") \
    .execute()

Out[3]: <delta.tables.DeltaTable at 0x7fe9f83c9a90>

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/delta/demo")

Out[34]: [FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/', name='_delta_log/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-12a7ba5d-e268-4016-8e92-22c2e32c959d-c000.snappy.parquet', name='part-00000-12a7ba5d-e268-4016-8e92-22c2e32c959d-c000.snappy.parquet', size=1619, modificationTime=1724366792000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-2cfb560d-2ce2-4bff-bbfa-8c5243815ca2-c000.snappy.parquet', name='part-00000-2cfb560d-2ce2-4bff-bbfa-8c5243815ca2-c000.snappy.parquet', size=1504, modificationTime=1724366797000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-7aff10f2-fa7b-45a7-823b-180d3a4902e0-c000.snappy.parquet', name='part-00000-7aff10f2-fa7b-45a7-823b-180d3a4902e0-c000.snappy.parquet', size=1632, modificationTime=1724366785000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-e173d0e8-84be-42d8-a991-462cae3e8f79-c000.snappy.parquet', name='part-00000-e173d0e8-84be-42d8-a991-462cae3e8f79-c000.snappy.parquet', size=1603, modificationTime=1724366801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-e2b4d272-d57a-4660-b6e3-cce454f057f7-c000.snappy.parquet', name='part-00000-e2b4d272-d57a-4660-b6e3-cce454f057f7-c000.snappy.parquet', size=1820, modificationTime=1724366393000)]

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/delta/demo/_delta_log/")

Out[61]: [FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-0', name='.s3-optimization-0', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-1', name='.s3-optimization-1', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-2', name='.s3-optimization-2', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.crc', name='00000000000000000000.crc', size=2206, modificationTime=1724365830000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.json', name='00000000000000000000.json', size=1228, modificationTime=1724365802000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.crc', name='00000000000000000001.crc', size=2847, modificationTime=1724366399000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.json', name='00000000000000000001.json', size=1173, modificationTime=1724366394000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.crc', name='00000000000000000002.crc', size=3489, modificationTime=1724366791000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.json', name='00000000000000000002.json', size=1178, modificationTime=1724366786000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000003.crc', name='00000000000000000003.crc', size=4127, modificationTime=1724366796000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000003.json', name='00000000000000000003.json', size=1174, modificationTime=1724366793000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000004.crc', name='00000000000000000004.crc', size=4751, modificationTime=1724366800000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000004.json', name='00000000000000000004.json', size=1160, modificationTime=1724366797000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000005.crc', name='00000000000000000005.crc', size=5386, modificationTime=1724366804000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000005.json', name='00000000000000000005.json', size=1171, modificationTime=1724366801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000006.crc', name='00000000000000000006.crc', size=5387, modificationTime=1724368120000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000006.json', name='00000000000000000006.json', size=1765, modificationTime=1724368116000)]

In [0]:
dbutils.fs.head("dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.json")

Out[38]: '{"commitInfo":{"timestamp":1724365800831,"userId":"8904480319608266","userName":"andresmunozpampillonaws@gmail.com","operation":"CREATE OR REPLACE TABLE","operationParameters":{"isManaged":"false","description":null,"partitionBy":"[]","properties":"{\\"description\\":\\"delta table\\"}"},"notebook":{"notebookId":"4274380949678301"},"clusterId":"0822-222704-adku0mbt","isolationLevel":"WriteSerializable","isBlindAppend":true,"operationMetrics":{},"engineInfo":"Databricks-Runtime/12.2.x-scala2.12","txnId":"c060e96b-eb74-4708-8fb6-ed5b0353dce5"}}\n{"protocol":{"minReaderVersion":1,"minWriterVersion":2}}\n{"metaData":{"id":"28e17eef-4097-4262-9106-612a721e87e8","format":{"provider":"parquet","options":{}},"schemaString":"{\\"type\\":\\"struct\\",\\"fields\\":[{\\"name\\":\\"id\\",\\"type\\":\\"integer\\",\\"nullable\\":true,\\"metadata\\":{}},{\\"name\\":\\"name\\",\\"type\\":\\"string\\",\\"nullable\\":true,\\"metadata\\":{}},{\\"name\\":\\"gender\\",\\"type\\":\\"string\\",\\"nullable\\":true,\\"metadata\\":{}},{\\"name\\":\\"salary\\",\\"type\\":\\"integer\\",\\"nullable\\":true,\\"metadata\\":{}},{\\"name\\":\\"dept\\",\\"type\\":\\"string\\",\\"nullable\\":true,\\"metadata\\":{}}]}","partitionColumns":[],"configuration":{"description":"delta table"},"createdTime":1724365798452}}\n'

In [0]:
dbutils.fs.head("dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.json")

Out[39]: '{"commitInfo":{"timestamp":1724366393157,"userId":"8904480319608266","userName":"andresmunozpampillonaws@gmail.com","operation":"WRITE","operationParameters":{"mode":"Append","partitionBy":"[]"},"notebook":{"notebookId":"4274380949678301"},"clusterId":"0822-222704-adku0mbt","readVersion":0,"isolationLevel":"WriteSerializable","isBlindAppend":true,"operationMetrics":{"numFiles":"1","numOutputRows":"10","numOutputBytes":"1820"},"engineInfo":"Databricks-Runtime/12.2.x-scala2.12","txnId":"7834cdc8-b0d6-45bc-996e-a955f1d5783d"}}\n{"add":{"path":"part-00000-e2b4d272-d57a-4660-b6e3-cce454f057f7-c000.snappy.parquet","partitionValues":{},"size":1820,"modificationTime":1724366393000,"dataChange":true,"stats":"{\\"numRecords\\":10,\\"minValues\\":{\\"id\\":1,\\"name\\":\\"Alice Johnson\\",\\"gender\\":\\"f\\",\\"salary\\":175000,\\"dept\\":\\"HR\\"},\\"maxValues\\":{\\"id\\":10,\\"name\\":\\"Jack White\\",\\"gender\\":\\"m\\",\\"salary\\":250000,\\"dept\\":\\"Support\\"},\\"nullCount\\":{\\"id\\":0,\\"name\\":0,\\"gender\\":0,\\"salary\\":0,\\"dept\\":0}}","tags":{"INSERTION_TIME":"1724366393000000","MIN_INSERTION_TIME":"1724366393000000","MAX_INSERTION_TIME":"1724366393000000","OPTIMIZE_TARGET_SIZE":"268435456"}}}\n'

In [0]:
dbutils.fs.head("dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.json")

Out[41]: '{"commitInfo":{"timestamp":1724366784951,"userId":"8904480319608266","userName":"andresmunozpampillonaws@gmail.com","operation":"WRITE","operationParameters":{"mode":"Append","partitionBy":"[]"},"notebook":{"notebookId":"4274380949678301"},"clusterId":"0822-222704-adku0mbt","readVersion":1,"isolationLevel":"WriteSerializable","isBlindAppend":true,"operationMetrics":{"numFiles":"1","numOutputRows":"3","numOutputBytes":"1632"},"engineInfo":"Databricks-Runtime/12.2.x-scala2.12","txnId":"23ba80a3-f046-4322-8a64-e965a8bea192"}}\n{"add":{"path":"part-00000-7aff10f2-fa7b-45a7-823b-180d3a4902e0-c000.snappy.parquet","partitionValues":{},"size":1632,"modificationTime":1724366785000,"dataChange":true,"stats":"{\\"numRecords\\":3,\\"minValues\\":{\\"id\\":11,\\"name\\":\\"Leonard Harris\\",\\"gender\\":\\"f\\",\\"salary\\":185000,\\"dept\\":\\"Finance\\"},\\"maxValues\\":{\\"id\\":13,\\"name\\":\\"Nancy Hall\\",\\"gender\\":\\"m\\",\\"salary\\":215000,\\"dept\\":\\"Support\\"},\\"nullCount\\":{\\"id\\":0,\\"name\\":0,\\"gender\\":0,\\"salary\\":0,\\"dept\\":0}}","tags":{"INSERTION_TIME":"1724366785000000","MIN_INSERTION_TIME":"1724366785000000","MAX_INSERTION_TIME":"1724366785000000","OPTIMIZE_TARGET_SIZE":"268435456"}}}\n'

In [0]:
dbutils.fs.head("dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000006.json")

Out[62]: '{"commitInfo":{"timestamp":1724368115750,"userId":"8904480319608266","userName":"andresmunozpampillonaws@gmail.com","operation":"DELETE","operationParameters":{"predicate":"[\\"(id#3921 = 20)\\"]"},"notebook":{"notebookId":"4274380949678301"},"clusterId":"0822-222704-adku0mbt","readVersion":5,"isolationLevel":"WriteSerializable","isBlindAppend":false,"operationMetrics":{"numRemovedFiles":"1","numRemovedBytes":"1603","numCopiedRows":"2","numDeletionVectorsAdded":"0","numDeletionVectorsRemoved":"0","numAddedChangeFiles":"0","executionTimeMs":"3706","numDeletedRows":"1","scanTimeMs":"2181","numAddedFiles":"1","numAddedBytes":"1536","rewriteTimeMs":"1497"},"engineInfo":"Databricks-Runtime/12.2.x-scala2.12","txnId":"d230331f-bbbc-4fa8-ba28-bda350392885"}}\n{"remove":{"path":"part-00000-e173d0e8-84be-42d8-a991-462cae3e8f79-c000.snappy.parquet","deletionTimestamp":1724368115735,"dataChange":true,"extendedFileMetadata":true,"partitionValues":{},"size":1603,"tags":{"INSERTION_TIME":"1724366801000000","MIN_INSERTION_TIME":"1724366801000000","MAX_INSERTION_TIME":"1724366801000000","OPTIMIZE_TARGET_SIZE":"268435456"}}}\n{"add":{"path":"part-00000-716d9358-849e-4cbb-b3a5-42f3b17865d0-c000.snappy.parquet","partitionValues":{},"size":1536,"modificationTime":1724368116000,"dataChange":true,"stats":"{\\"numRecords\\":2,\\"minValues\\":{\\"id\\":18,\\"name\\":\\"Victor Adams\\",\\"gender\\":\\"f\\",\\"salary\\":220000,\\"dept\\":\\"IT\\"},\\"maxValues\\":{\\"id\\":19,\\"name\\":\\"Wendy Scott\\",\\"gender\\":\\"m\\",\\"salary\\":235000,\\"dept\\":\\"Support\\"},\\"nullCount\\":{\\"id\\":0,\\"name\\":0,\\"gender\\":0,\\"salary\\":0,\\"dept\\":0}}","tags":{"MAX_INSERTION_TIME":"1724366801000000","INSERTION_TIME":"1724366801000000","MIN_INSERTION_TIME":"1724366801000000","OPTIMIZE_TARGET_SIZE":"268435456"}}}\n'

## Read data from table

In [0]:
display(spark.read.format("delta").load("dbfs:/FileStore/tables/delta/demo/"))

id,name,gender,salary,dept
1,Charlie Wood,m,250000,IT
2,Alice Johnson,f,180000,HR
3,Bob Smith,m,220000,IT
4,Diane Brown,f,200000,IT
5,Eve Davis,f,195000,HR
6,Frank Martin,m,240000,Support
7,Grace Lee,f,210000,IT
8,Henry Clark,m,230000,Sales
9,Irene Turner,f,175000,HR
10,Jack White,m,190000,IT
11,Marta Evans,f,205000,Marketing
12,Leonard Harris,m,215000,Finance
13,Nancy Hall,f,185000,Support
14,Robert Young,m,225000,Sales
15,Susan Moore,f,210000,Marketing
16,Tom Wright,m,230000,Finance
18,Victor Adams,m,235000,IT
19,Wendy Scott,f,220000,Support
17,Uma King,f,190000,HR

In [0]:
%sql

SELECT * FROM delta_demo

id,name,gender,salary,dept
1,Charlie Wood,m,250000,IT
2,Alice Johnson,f,180000,HR
3,Bob Smith,m,220000,IT
4,Diane Brown,f,200000,IT
5,Eve Davis,f,195000,HR
6,Frank Martin,m,240000,Support
7,Grace Lee,f,210000,IT
8,Henry Clark,m,230000,Sales
9,Irene Turner,f,175000,HR
10,Jack White,m,190000,IT
11,Marta Evans,f,205000,Marketing
12,Leonard Harris,m,215000,Finance
13,Nancy Hall,f,185000,Support
14,Robert Young,m,225000,Sales
15,Susan Moore,f,210000,Marketing
16,Tom Wright,m,230000,Finance
18,Victor Adams,m,235000,IT
19,Wendy Scott,f,220000,Support
20,Xavier Lee,m,245000,Sales
17,Uma King,f,190000,HR

## Insert data into the table

In [0]:
%sql

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(1, "Charlie Wood", "m", 250000, "IT"),
(2, "Alice Johnson", "f", 180000, "HR"),
(3, "Bob Smith", "m", 220000, "IT"),
(4, "Diane Brown", "f", 200000, "IT"),
(5, "Eve Davis", "f", 195000, "HR"),
(6, "Frank Martin", "m", 240000, "Support"),
(7, "Grace Lee", "f", 210000, "IT"),
(8, "Henry Clark", "m", 230000, "Sales"),
(9, "Irene Turner", "f", 175000, "HR"),
(10, "Jack White", "m", 190000, "IT");

num_affected_rows,num_inserted_rows
10,10

In [0]:
%sql

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(11, "Marta Evans", "f", 205000, "Marketing"),
(12, "Leonard Harris", "m", 215000, "Finance"),
(13, "Nancy Hall", "f", 185000, "Support");

num_affected_rows,num_inserted_rows
3,3

In [0]:
%sql

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(14, "Robert Young", "m", 225000, "Sales"),
(15, "Susan Moore", "f", 210000, "Marketing"),
(16, "Tom Wright", "m", 230000, "Finance");

num_affected_rows,num_inserted_rows
3,3

In [0]:
%sql

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(17, "Uma King", "f", 190000, "HR");

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(18, "Victor Adams", "m", 235000, "IT"),
(19, "Wendy Scott", "f", 220000, "Support"),
(20, "Xavier Lee", "m", 245000, "Sales");

num_affected_rows,num_inserted_rows
3,3

## Delete record

In [0]:
%sql

DELETE FROM delta_demo WHERE id=20;

num_affected_rows
1

In [0]:
%sql

SELECT * FROM delta_demo

id,name,gender,salary,dept
1,Charlie Wood,m,250000,IT
2,Alice Johnson,f,180000,HR
3,Bob Smith,m,220000,IT
4,Diane Brown,f,200000,IT
5,Eve Davis,f,195000,HR
6,Frank Martin,m,240000,Support
7,Grace Lee,f,210000,IT
8,Henry Clark,m,230000,Sales
9,Irene Turner,f,175000,HR
10,Jack White,m,190000,IT
11,Marta Evans,f,205000,Marketing
12,Leonard Harris,m,215000,Finance
13,Nancy Hall,f,185000,Support
14,Robert Young,m,225000,Sales
15,Susan Moore,f,210000,Marketing
16,Tom Wright,m,230000,Finance
18,Victor Adams,m,235000,IT
19,Wendy Scott,f,220000,Support
17,Uma King,f,190000,HR

## Parquet files

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/delta/demo/")

Out[68]: [FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/', name='_delta_log/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-12a7ba5d-e268-4016-8e92-22c2e32c959d-c000.snappy.parquet', name='part-00000-12a7ba5d-e268-4016-8e92-22c2e32c959d-c000.snappy.parquet', size=1619, modificationTime=1724366792000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-2cfb560d-2ce2-4bff-bbfa-8c5243815ca2-c000.snappy.parquet', name='part-00000-2cfb560d-2ce2-4bff-bbfa-8c5243815ca2-c000.snappy.parquet', size=1504, modificationTime=1724366797000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-6ac50672-7f22-4ebc-8a79-70d1d6c1cd02-c000.snappy.parquet', name='part-00000-6ac50672-7f22-4ebc-8a79-70d1d6c1cd02-c000.snappy.parquet', size=1546, modificationTime=1724368827000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-716d9358-849e-4cbb-b3a5-42f3b17865d0-c000.snappy.parquet', name='part-00000-716d9358-849e-4cbb-b3a5-42f3b17865d0-c000.snappy.parquet', size=1536, modificationTime=1724368116000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-744e932a-0119-4790-9ca8-09ac7cebf866-c000.snappy.parquet', name='part-00000-744e932a-0119-4790-9ca8-09ac7cebf866-c000.snappy.parquet', size=1553, modificationTime=1724368832000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-7aff10f2-fa7b-45a7-823b-180d3a4902e0-c000.snappy.parquet', name='part-00000-7aff10f2-fa7b-45a7-823b-180d3a4902e0-c000.snappy.parquet', size=1632, modificationTime=1724366785000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-b62a12ab-27f7-4347-b6c4-bd9c209277a6-c000.snappy.parquet', name='part-00000-b62a12ab-27f7-4347-b6c4-bd9c209277a6-c000.snappy.parquet', size=1532, modificationTime=1724368835000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-e173d0e8-84be-42d8-a991-462cae3e8f79-c000.snappy.parquet', name='part-00000-e173d0e8-84be-42d8-a991-462cae3e8f79-c000.snappy.parquet', size=1603, modificationTime=1724366801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/part-00000-e2b4d272-d57a-4660-b6e3-cce454f057f7-c000.snappy.parquet', name='part-00000-e2b4d272-d57a-4660-b6e3-cce454f057f7-c000.snappy.parquet', size=1820, modificationTime=1724366393000)]

In [0]:
spark.conf.set("spark.databricks.delta.formatCheck.enabled", "false")
display(spark.read.format("parquet").load("dbfs:/FileStore/tables/delta/demo/part-00000-b62a12ab-27f7-4347-b6c4-bd9c209277a6-c000.snappy.parquet"))

id,name,gender,salary,dept
23,Marian Smith,f,665200,HR

## Checkpoint

In [0]:
%sql
INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(21, "Victor West", "m", 3333000, "Sales");

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(22, "Milan Sigh", "m", 4738022, "Support");

INSERT INTO delta_demo (id, name, gender, salary, dept) VALUES
(23, "Marian Smith", "f", 665200, "HR");

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql

DELETE FROM delta_demo WHERE id>20;

num_affected_rows
3

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/delta/demo/_delta_log/")

Out[65]: [FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-0', name='.s3-optimization-0', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-1', name='.s3-optimization-1', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/.s3-optimization-2', name='.s3-optimization-2', size=0, modificationTime=1724365801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.crc', name='00000000000000000000.crc', size=2206, modificationTime=1724365830000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000000.json', name='00000000000000000000.json', size=1228, modificationTime=1724365802000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.crc', name='00000000000000000001.crc', size=2847, modificationTime=1724366399000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000001.json', name='00000000000000000001.json', size=1173, modificationTime=1724366394000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.crc', name='00000000000000000002.crc', size=3489, modificationTime=1724366791000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000002.json', name='00000000000000000002.json', size=1178, modificationTime=1724366786000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000003.crc', name='00000000000000000003.crc', size=4127, modificationTime=1724366796000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000003.json', name='00000000000000000003.json', size=1174, modificationTime=1724366793000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000004.crc', name='00000000000000000004.crc', size=4751, modificationTime=1724366800000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000004.json', name='00000000000000000004.json', size=1160, modificationTime=1724366797000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000005.crc', name='00000000000000000005.crc', size=5386, modificationTime=1724366804000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000005.json', name='00000000000000000005.json', size=1171, modificationTime=1724366801000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000006.crc', name='00000000000000000006.crc', size=5387, modificationTime=1724368120000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000006.json', name='00000000000000000006.json', size=1765, modificationTime=1724368116000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000007.crc', name='00000000000000000007.crc', size=6025, modificationTime=1724368831000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000007.json', name='00000000000000000007.json', size=1174, modificationTime=1724368827000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000008.crc', name='00000000000000000008.crc', size=6667, modificationTime=1724368834000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000008.json', name='00000000000000000008.json', size=1176, modificationTime=1724368832000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000009.crc', name='00000000000000000009.crc', size=7299, modificationTime=1724368839000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000009.json', name='00000000000000000009.json', size=1168, modificationTime=1724368835000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000010.checkpoint.parquet', name='00000000000000000010.checkpoint.parquet', size=22888, modificationTime=1724368853000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000010.crc', name='00000000000000000010.crc', size=5387, modificationTime=1724368852000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000010.json', name='00000000000000000010.json', size=1845, modificationTime=1724368849000),
 FileInfo(path='dbfs:/FileStore/tables/delta/demo/_delta_log/_last_checkpoint', name='_last_checkpoint', size=5639, modificationTime=1724368854000)]

In [0]:
display(spark.read.format("parquet").load("dbfs:/FileStore/tables/delta/demo/_delta_log/00000000000000000010.checkpoint.parquet"))

txn,add,remove,metaData,protocol,rowIdHighWaterMark
null,null,null,null,"List(1, 2, null, null)",null
null,null,null,"List(28e17eef-4097-4262-9106-612a721e87e8, null, null, List(parquet, Map()), {""type"":""struct"",""fields"":[{""name"":""id"",""type"":""integer"",""nullable"":true,""metadata"":{}},{""name"":""name"",""type"":""string"",""nullable"":true,""metadata"":{}},{""name"":""gender"",""type"":""string"",""nullable"":true,""metadata"":{}},{""name"":""salary"",""type"":""integer"",""nullable"":true,""metadata"":{}},{""name"":""dept"",""type"":""string"",""nullable"":true,""metadata"":{}}]}, List(), Map(description -> delta table), 1724365798452)",null,null
null,"List(part-00000-12a7ba5d-e268-4016-8e92-22c2e32c959d-c000.snappy.parquet, Map(), 1619, 1724366792000, false, Map(INSERTION_TIME -> 1724366792000000, MIN_INSERTION_TIME -> 1724366792000000, MAX_INSERTION_TIME -> 1724366792000000, OPTIMIZE_TARGET_SIZE -> 268435456), null, null, {""numRecords"":3,""minValues"":{""id"":14,""name"":""Robert Young"",""gender"":""f"",""salary"":210000,""dept"":""Finance""},""maxValues"":{""id"":16,""name"":""Tom Wright"",""gender"":""m"",""salary"":230000,""dept"":""Sales""},""nullCount"":{""id"":0,""name"":0,""gender"":0,""salary"":0,""dept"":0}}, List(3, List(14, Robert Young, f, 210000, Finance), List(16, Tom Wright, m, 230000, Sales), List(0, 0, 0, 0, 0)))",null,null,null,null
null,"List(part-00000-2cfb560d-2ce2-4bff-bbfa-8c5243815ca2-c000.snappy.parquet, Map(), 1504, 1724366797000, false, Map(INSERTION_TIME -> 1724366797000000, MIN_INSERTION_TIME -> 1724366797000000, MAX_INSERTION_TIME -> 1724366797000000, OPTIMIZE_TARGET_SIZE -> 268435456), null, null, {""numRecords"":1,""minValues"":{""id"":17,""name"":""Uma King"",""gender"":""f"",""salary"":190000,""dept"":""HR""},""maxValues"":{""id"":17,""name"":""Uma King"",""gender"":""f"",""salary"":190000,""dept"":""HR""},""nullCount"":{""id"":0,""name"":0,""gender"":0,""salary"":0,""dept"":0}}, List(1, List(17, Uma King, f, 190000, HR), List(17, Uma King, f, 190000, HR), List(0, 0, 0, 0, 0)))",null,null,null,null
null,null,"List(part-00000-6ac50672-7f22-4ebc-8a79-70d1d6c1cd02-c000.snappy.parquet, 1724368848752, false, true, Map(), 1546, null, null)",null,null,null
null,"List(part-00000-716d9358-849e-4cbb-b3a5-42f3b17865d0-c000.snappy.parquet, Map(), 1536, 1724368116000, false, Map(MAX_INSERTION_TIME -> 1724366801000000, INSERTION_TIME -> 1724366801000000, MIN_INSERTION_TIME -> 1724366801000000, OPTIMIZE_TARGET_SIZE -> 268435456), null, null, {""numRecords"":2,""minValues"":{""id"":18,""name"":""Victor Adams"",""gender"":""f"",""salary"":220000,""dept"":""IT""},""maxValues"":{""id"":19,""name"":""Wendy Scott"",""gender"":""m"",""salary"":235000,""dept"":""Support""},""nullCount"":{""id"":0,""name"":0,""gender"":0,""salary"":0,""dept"":0}}, List(2, List(18, Victor Adams, f, 220000, IT), List(19, Wendy Scott, m, 235000, Support), List(0, 0, 0, 0, 0)))",null,null,null,null
null,null,"List(part-00000-744e932a-0119-4790-9ca8-09ac7cebf866-c000.snappy.parquet, 1724368848752, false, true, Map(), 1553, null, null)",null,null,null
null,"List(part-00000-7aff10f2-fa7b-45a7-823b-180d3a4902e0-c000.snappy.parquet, Map(), 1632, 1724366785000, false, Map(INSERTION_TIME -> 1724366785000000, MIN_INSERTION_TIME -> 1724366785000000, MAX_INSERTION_TIME -> 1724366785000000, OPTIMIZE_TARGET_SIZE -> 268435456), null, null, {""numRecords"":3,""minValues"":{""id"":11,""name"":""Leonard Harris"",""gender"":""f"",""salary"":185000,""dept"":""Finance""},""maxValues"":{""id"":13,""name"":""Nancy Hall"",""gender"":""m"",""salary"":215000,""dept"":""Support""},""nullCount"":{""id"":0,""name"":0,""gender"":0,""salary"":0,""dept"":0}}, List(3, List(11, Leonard Harris, f, 185000, Finance), List(13, Nancy Hall, m, 215000, Support), List(0, 0, 0, 0, 0)))",null,null,null,null
null,null,"List(part-00000-b62a12ab-27f7-4347-b6c4-bd9c209277a6-c000.snappy.parquet, 1724368848752, false, true, Map(), 1532, null, null)",null,null,null
null,null,"List(part-00000-e173d0e8-84be-42d8-a991-462cae3e8f79-c000.snappy.parquet, 1724368115735, false, true, Map(), 1603, null, null)",null,null,null
null,"List(part-00000-e2b4d272-d57a-4660-b6e3-cce454f057f7-c000.snappy.parquet, Map(), 1820, 1724366393000, false, Map(INSERTION_TIME -> 1724366393000000, MIN_INSERTION_TIME -> 1724366393000000, MAX_INSERTION_TIME -> 1724366393000000, OPTIMIZE_TARGET_SIZE -> 268435456), null, null, {""numRecords"":10,""minValues"":{""id"":1,""name"":""Alice Johnson"",""gender"":""f"",""salary"":175000,""dept"":""HR""},""maxValues"":{""id"":10,""name"":""Jack White"",""gender"":""m"",""salary"":250000,""dept"":""Support""},""nullCount"":{""id"":0,""name"":0,""gender"":0,""salary"":0,""dept"":0}}, List(10, List(1, Alice Johnson, f, 175000, HR), List(10, Jack White, m, 250000, Support), List(0, 0, 0, 0, 0)))",null,null,null,null

#CREATE DELTA TABLE

## PySpark

In [0]:
from delta.tables import *

Options:

```
DeltaTable.create

DeltaTable.createIfNotExist

DeltaTable.createOrReplace
```

In [0]:
DeltaTable.createOrReplace(spark) \
    .tableName("delta_table_spark") \
    .addColumn("id","INT") \
    .addColumn("name","STRING") \
    .addColumn("gender","STRING") \
    .addColumn("salary","INT") \
    .addColumn("dept","STRING") \
    .property("description","delta table create with pyspark") \
    .location("dbfs:/FileStore/tables/delta/spark") \
    .execute()

Out[17]: <delta.tables.DeltaTable at 0x7f287c455520>

## SQL

Options:

```
CREATE TABLE

CREATE TABLE IF NOT EXIST 

CREATE OR REPLACE
```

In [0]:
%sql
CREATE OR REPLACE TABLE delta_table_sql (
  id INT,
  name STRING,
  gender STRING,
  salary integer,
  dept STRING
) USING DELTA
LOCATION 'dbfs:/FileStore/tables/delta/sql';

## Using Dataframe as source

In [0]:
data_employee = [
    (1, "Charlie Wood", "2023-01-20", True, 250000),
    (2, "Alice Johnson", "2021-03-15", True, 180000),
    (3, "Bob Smith", "2019-06-12", False, 220000),
    (4, "Diane Brown", "2022-11-05", True, 200000),
    (5, "Eve Davis", "2020-08-30", False, 195000),
    (6, "Frank Martin", "2018-12-22", True, 240000),
    (7, "Grace Lee", "2023-02-10", True, 210000),
    (8, "Henry Clark", "2022-05-17", True, 230000),
    (9, "Irene Turner", "2017-09-25", False, 175000),
    (10, "Jack White", "2021-07-13", True, 190000)
]

schema_employee = ["id","name","date_of_join","active","salary"]

In [0]:
df_employee = spark.createDataFrame(data=data_employee,schema=schema_employee)

In [0]:
df_employee.show()

+---+-------------+------------+------+------+
| id|         name|date_of_join|active|salary|
+---+-------------+------------+------+------+
|  1| Charlie Wood|  2023-01-20|  true|250000|
|  2|Alice Johnson|  2021-03-15|  true|180000|
|  3|    Bob Smith|  2019-06-12| false|220000|
|  4|  Diane Brown|  2022-11-05|  true|200000|
|  5|    Eve Davis|  2020-08-30| false|195000|
|  6| Frank Martin|  2018-12-22|  true|240000|
|  7|    Grace Lee|  2023-02-10|  true|210000|
|  8|  Henry Clark|  2022-05-17|  true|230000|
|  9| Irene Turner|  2017-09-25| false|175000|
| 10|   Jack White|  2021-07-13|  true|190000|
+---+-------------+------------+------+------+

In [0]:
df_employee.write.format("delta").mode("overwrite").saveAsTable("delta_table_dataframe")

In [0]:
%sql

SELECT * FROM delta_table_dataframe;

id,name,date_of_join,active,salary
2,Alice Johnson,2021-03-15,true,180000
1,Charlie Wood,2023-01-20,true,250000
6,Frank Martin,2018-12-22,true,240000
8,Henry Clark,2022-05-17,true,230000
9,Irene Turner,2017-09-25,false,175000
10,Jack White,2021-07-13,true,190000
4,Diane Brown,2022-11-05,true,200000
5,Eve Davis,2020-08-30,false,195000
3,Bob Smith,2019-06-12,false,220000
7,Grace Lee,2023-02-10,true,210000

# TABLE INSTANCE

##Create delta instace for Path

In [0]:
delta_instance_path = DeltaTable.forPath(spark,"dbfs:/FileStore/tables/delta/demo/")

In [0]:
delta_instance_path.toDF().show()

+---+--------------+------+------+---------+
| id|          name|gender|salary|     dept|
+---+--------------+------+------+---------+
|  1|  Charlie Wood|     m|250000|       IT|
|  2| Alice Johnson|     f|180000|       HR|
|  3|     Bob Smith|     m|220000|       IT|
|  4|   Diane Brown|     f|200000|       IT|
|  5|     Eve Davis|     f|195000|       HR|
|  6|  Frank Martin|     m|240000|  Support|
|  7|     Grace Lee|     f|210000|       IT|
|  8|   Henry Clark|     m|230000|    Sales|
|  9|  Irene Turner|     f|175000|       HR|
| 10|    Jack White|     m|190000|       IT|
| 11|   Marta Evans|     f|205000|Marketing|
| 12|Leonard Harris|     m|215000|  Finance|
| 13|    Nancy Hall|     f|185000|  Support|
| 14|  Robert Young|     m|225000|    Sales|
| 15|   Susan Moore|     f|210000|Marketing|
| 16|    Tom Wright|     m|230000|  Finance|
| 18|  Victor Adams|     m|235000|       IT|
| 19|   Wendy Scott|     f|220000|  Support|
| 17|      Uma King|     f|190000|       HR|
+---+--------------+------+------+---------+

In [0]:
delta_instance_path.delete("id = 17")

In [0]:
delta_instance_path.toDF().show()

+---+--------------+------+------+---------+
| id|          name|gender|salary|     dept|
+---+--------------+------+------+---------+
|  1|  Charlie Wood|     m|250000|       IT|
|  2| Alice Johnson|     f|180000|       HR|
|  3|     Bob Smith|     m|220000|       IT|
|  4|   Diane Brown|     f|200000|       IT|
|  5|     Eve Davis|     f|195000|       HR|
|  6|  Frank Martin|     m|240000|  Support|
|  7|     Grace Lee|     f|210000|       IT|
|  8|   Henry Clark|     m|230000|    Sales|
|  9|  Irene Turner|     f|175000|       HR|
| 10|    Jack White|     m|190000|       IT|
| 11|   Marta Evans|     f|205000|Marketing|
| 12|Leonard Harris|     m|215000|  Finance|
| 13|    Nancy Hall|     f|185000|  Support|
| 14|  Robert Young|     m|225000|    Sales|
| 15|   Susan Moore|     f|210000|Marketing|
| 16|    Tom Wright|     m|230000|  Finance|
| 18|  Victor Adams|     m|235000|       IT|
| 19|   Wendy Scott|     f|220000|  Support|
+---+--------------+------+------+---------+

In [0]:
spark.read.format("delta").load("dbfs:/FileStore/tables/delta/demo/").show()

+---+--------------+------+------+---------+
| id|          name|gender|salary|     dept|
+---+--------------+------+------+---------+
|  1|  Charlie Wood|     m|250000|       IT|
|  2| Alice Johnson|     f|180000|       HR|
|  3|     Bob Smith|     m|220000|       IT|
|  4|   Diane Brown|     f|200000|       IT|
|  5|     Eve Davis|     f|195000|       HR|
|  6|  Frank Martin|     m|240000|  Support|
|  7|     Grace Lee|     f|210000|       IT|
|  8|   Henry Clark|     m|230000|    Sales|
|  9|  Irene Turner|     f|175000|       HR|
| 10|    Jack White|     m|190000|       IT|
| 11|   Marta Evans|     f|205000|Marketing|
| 12|Leonard Harris|     m|215000|  Finance|
| 13|    Nancy Hall|     f|185000|  Support|
| 14|  Robert Young|     m|225000|    Sales|
| 15|   Susan Moore|     f|210000|Marketing|
| 16|    Tom Wright|     m|230000|  Finance|
| 18|  Victor Adams|     m|235000|       IT|
| 19|   Wendy Scott|     f|220000|  Support|
+---+--------------+------+------+---------+

In [0]:
display(delta_instance_path.history())

version,timestamp,userId,userName,operation,operationParameters,job,notebook,clusterId,readVersion,isolationLevel,isBlindAppend,operationMetrics,userMetadata,engineInfo
11,2024-08-23T19:04:01.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,DELETE,"Map(predicate -> [""(id#279 = 17)""])",null,List(4274380949678301),0823-185135-htz3pex8,10,WriteSerializable,false,"Map(numRemovedFiles -> 1, numRemovedBytes -> 1504, numCopiedRows -> 0, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 4918, numDeletedRows -> 1, scanTimeMs -> 2005, numAddedFiles -> 0, numAddedBytes -> 0, rewriteTimeMs -> 2886)",null,Databricks-Runtime/12.2.x-scala2.12
10,2024-08-22T23:20:49.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,DELETE,"Map(predicate -> [""(id#6204 > 20)""])",null,List(4274380949678301),0822-222704-adku0mbt,9,WriteSerializable,false,"Map(numRemovedFiles -> 3, numRemovedBytes -> 4631, numCopiedRows -> 0, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 3453, numDeletedRows -> 3, scanTimeMs -> 2162, numAddedFiles -> 0, numAddedBytes -> 0, rewriteTimeMs -> 1290)",null,Databricks-Runtime/12.2.x-scala2.12
9,2024-08-22T23:20:35.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,8,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1532)",null,Databricks-Runtime/12.2.x-scala2.12
8,2024-08-22T23:20:32.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,7,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1553)",null,Databricks-Runtime/12.2.x-scala2.12
7,2024-08-22T23:20:27.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,6,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1546)",null,Databricks-Runtime/12.2.x-scala2.12
6,2024-08-22T23:08:36.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,DELETE,"Map(predicate -> [""(id#3921 = 20)""])",null,List(4274380949678301),0822-222704-adku0mbt,5,WriteSerializable,false,"Map(numRemovedFiles -> 1, numRemovedBytes -> 1603, numCopiedRows -> 2, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 3706, numDeletedRows -> 1, scanTimeMs -> 2181, numAddedFiles -> 1, numAddedBytes -> 1536, rewriteTimeMs -> 1497)",null,Databricks-Runtime/12.2.x-scala2.12
5,2024-08-22T22:46:41.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,4,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1603)",null,Databricks-Runtime/12.2.x-scala2.12
4,2024-08-22T22:46:37.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,3,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1504)",null,Databricks-Runtime/12.2.x-scala2.12
3,2024-08-22T22:46:33.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,2,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1619)",null,Databricks-Runtime/12.2.x-scala2.12
2,2024-08-22T22:46:26.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,1,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1632)",null,Databricks-Runtime/12.2.x-scala2.12
1,2024-08-22T22:39:54.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(4274380949678301),0822-222704-adku0mbt,0,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 10, numOutputBytes -> 1820)",null,Databricks-Runtime/12.2.x-scala2.12
0,2024-08-22T22:30:02.000+0000,8904480319608266,andresmunozpampillonaws@gmail.com,CREATE OR REPLACE TABLE,"Map(isManaged -> false, description -> null, partitionBy -> [], properties -> {""description"":""delta table""})",null,List(4274380949678301),0822-222704-adku0mbt,null,WriteSerializable,true,Map(),null,Databricks-Runtime/12.2.x-scala2.12

##Create delta instace for Name

In [0]:
delta_instance_name = DeltaTable.forName(spark,"delta_table_spark")

In [0]:
delta_instance_name.toDF().show()

+---+----+------+------+----+
| id|name|gender|salary|dept|
+---+----+------+------+----+
+---+----+------+------+----+

# INSERT DATA DELTA TABLE

In [0]:
from delta.tables import *

In [0]:
DeltaTable.createOrReplace(spark) \
    .tableName("employee_dt") \
    .addColumn("id","INT") \
    .addColumn("name","STRING") \
    .addColumn("gender","STRING") \
    .addColumn("salary","INT") \
    .addColumn("dept","STRING") \
    .property("description","Employee delta table") \
    .location("dbfs:/FileStore/tables/delta/employee") \
    .execute()

Out[28]: <delta.tables.DeltaTable at 0x7f287b6a74c0>

## SQL Insert

In [0]:
%sql

INSERT INTO employee_dt VALUES (1, "Carl Mike", "m", 170000, "Support");

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql

INSERT INTO employee_dt (id, name, gender, salary, dept) VALUES
(2, "Mikel Clark", "m", 254300, "IT"),
(3, "Bob Smith", "m", 220000, "IT"),
(4, "Mary Scala", "f", 230000, "Sales");

num_affected_rows,num_inserted_rows
3,3

## SQL Query

In [0]:
%sql

SELECT * FROM employee_dt;

id,name,gender,salary,dept
2,Mikel Clark,m,254300,IT
3,Bob Smith,m,220000,IT
4,Mary Scala,f,230000,Sales
1,Carl Mike,m,170000,Support

## Daframe Format Method

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [0]:
data_employee = [
    (5, "Eve Davis", "f", 195000, "HR"),
    (6, "Frank Martin", "m", 240000, "Support"),
    (7, "Grace Lee", "f", 210000, "IT"),
    (8, "Henry Clark", "m", 230000, "Sales"),
    (9, "Irene Turner", "f", 175000, "HR"),
    (10, "Jack White", "m", 190000, "IT")
    ]

schema_employee = StructType([ \
    StructField("id",IntegerType(),False), \
    StructField("name",StringType(),True), \
    StructField("gender",StringType(),True), \
    StructField("salary",IntegerType(),True), \
    StructField("dept",StringType(),True), \
])

In [0]:
df_employee = spark.createDataFrame(data=data_employee,schema=schema_employee)

In [0]:
df_employee.show()

+---+------------+------+------+-------+
| id|        name|gender|salary|   dept|
+---+------------+------+------+-------+
|  5|   Eve Davis|     f|195000|     HR|
|  6|Frank Martin|     m|240000|Support|
|  7|   Grace Lee|     f|210000|     IT|
|  8| Henry Clark|     m|230000|  Sales|
|  9|Irene Turner|     f|175000|     HR|
| 10|  Jack White|     m|190000|     IT|
+---+------------+------+------+-------+

In [0]:
df_employee.write.format("delta").mode("append").saveAsTable("employee_dt")

## Dataframe Insert Into Method

In [0]:
data_employee_v2 = [
    (11, "Marta Evans", "f", 205000, "Marketing"),
    (12, "Leonard Harris", "m", 215000, "Finance"),
    (13, "Nancy Hall", "f", 185000, "Support")
    ]

schema_employee_v2 = StructType([ \
    StructField("id",IntegerType(),False), \
    StructField("name",StringType(),True), \
    StructField("gender",StringType(),True), \
    StructField("salary",IntegerType(),True), \
    StructField("dept",StringType(),True), \
])

df_employee_v2 = spark.createDataFrame(data=data_employee_v2,schema=schema_employee_v2)

df_employee_v2.show()

+---+--------------+------+------+---------+
| id|          name|gender|salary|     dept|
+---+--------------+------+------+---------+
| 11|   Marta Evans|     f|205000|Marketing|
| 12|Leonard Harris|     m|215000|  Finance|
| 13|    Nancy Hall|     f|185000|  Support|
+---+--------------+------+------+---------+

In [0]:
df_employee_v2.write.insertInto("employee_dt", overwrite=False)

## Dataframe Query

In [0]:
DeltaTable.forName(spark,"employee_dt").toDF().show()

+---+--------------+------+------+---------+
| id|          name|gender|salary|     dept|
+---+--------------+------+------+---------+
|  2|   Mikel Clark|     m|254300|       IT|
|  3|     Bob Smith|     m|220000|       IT|
|  4|    Mary Scala|     f|230000|    Sales|
| 12|Leonard Harris|     m|215000|  Finance|
| 11|   Marta Evans|     f|205000|Marketing|
|  6|  Frank Martin|     m|240000|  Support|
| 13|    Nancy Hall|     f|185000|  Support|
|  1|     Carl Mike|     m|170000|  Support|
|  8|   Henry Clark|     m|230000|    Sales|
|  9|  Irene Turner|     f|175000|       HR|
| 10|    Jack White|     m|190000|       IT|
|  5|     Eve Davis|     f|195000|       HR|
|  7|     Grace Lee|     f|210000|       IT|
+---+--------------+------+------+---------+

## Temp View Insert

In [0]:
data_employee_v3 = [
    (18, "Victor Adams", "m", 235000, "IT"),
    (19, "Wendy Scott", "f", 220000, "Support"),
    (20, "Xavier Lee", "m", 245000, "Sales")
    ]

schema_employee_v3 = StructType([ \
    StructField("id",IntegerType(),False), \
    StructField("name",StringType(),True), \
    StructField("gender",StringType(),True), \
    StructField("salary",IntegerType(),True), \
    StructField("dept",StringType(),True), \
])

df_employee_v3 = spark.createDataFrame(data=data_employee_v3,schema=schema_employee_v3)

df_employee_v3.show()

+---+------------+------+------+-------+
| id|        name|gender|salary|   dept|
+---+------------+------+------+-------+
| 18|Victor Adams|     m|235000|     IT|
| 19| Wendy Scott|     f|220000|Support|
| 20|  Xavier Lee|     m|245000|  Sales|
+---+------------+------+------+-------+

In [0]:
df_employee_v3.createOrReplaceTempView("df_employee_temp_view")

In [0]:
%sql

SELECT * FROM df_employee_temp_view;

id,name,gender,salary,dept
18,Victor Adams,m,235000,IT
19,Wendy Scott,f,220000,Support
20,Xavier Lee,m,245000,Sales

In [0]:
%sql

INSERT INTO delta.`dbfs:/FileStore/tables/delta/employee`
  SELECT * FROM df_employee_temp_view;

num_affected_rows,num_inserted_rows
3,3

## Spark SQL Insert

In [0]:
data_employee_v4 = [
    (17, "Uma King", "f", 190000, "HR")
    ]

schema_employee_v4 = StructType([ \
    StructField("id",IntegerType(),False), \
    StructField("name",StringType(),True), \
    StructField("gender",StringType(),True), \
    StructField("salary",IntegerType(),True), \
    StructField("dept",StringType(),True), \
])

df_employee_v4 = spark.createDataFrame(data=data_employee_v4,schema=schema_employee_v4)

df_employee_v4.show()

+---+--------+------+------+----+
| id|    name|gender|salary|dept|
+---+--------+------+------+----+
| 17|Uma King|     f|190000|  HR|
+---+--------+------+------+----+

In [0]:
df_employee_v4.createOrReplaceTempView("df_employee_one_row")

In [0]:
spark.sql('INSERT INTO employee_dt SELECT * FROM df_employee_one_row')

Out[54]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

## Spark SQL Select

In [0]:
spark.sql("SELECT * FROM employee_dt").show()

+---+--------------+------+------+---------+
| id|          name|gender|salary|     dept|
+---+--------------+------+------+---------+
|  2|   Mikel Clark|     m|254300|       IT|
|  3|     Bob Smith|     m|220000|       IT|
|  4|    Mary Scala|     f|230000|    Sales|
| 12|Leonard Harris|     m|215000|  Finance|
| 11|   Marta Evans|     f|205000|Marketing|
|  6|  Frank Martin|     m|240000|  Support|
| 19|   Wendy Scott|     f|220000|  Support|
| 19|   Wendy Scott|     f|220000|  Support|
| 13|    Nancy Hall|     f|185000|  Support|
|  1|     Carl Mike|     m|170000|  Support|
|  8|   Henry Clark|     m|230000|    Sales|
| 20|    Xavier Lee|     m|245000|    Sales|
| 20|    Xavier Lee|     m|245000|    Sales|
|  9|  Irene Turner|     f|175000|       HR|
| 18|  Victor Adams|     m|235000|       IT|
| 18|  Victor Adams|     m|235000|       IT|
| 10|    Jack White|     m|190000|       IT|
|  5|     Eve Davis|     f|195000|       HR|
|  7|     Grace Lee|     f|210000|       IT|
| 17|      Uma King|     f|190000|       HR|
+---+--------------+------+------+---------+

# DELETE DATA DELTA TABLE

## SQL Delete using Name

In [0]:
%sql

DELETE FROM employee_dt WHERE id=17;

num_affected_rows
1

## SQL Delete using Delta Location

In [0]:
%sql

DELETE FROM delta.`dbfs:/FileStore/tables/delta/employee` WHERE id=1;

num_affected_rows
1

## Spark SQL Delete

In [0]:
spark.sql("DELETE FROM employee_dt WHERE id=2")

Out[58]: DataFrame[num_affected_rows: bigint]

## Spark Delta Table Instance Delete

In [0]:
dt_employee = DeltaTable.forName(spark,"employee_dt")

In [0]:
dt_employee.delete("id=4")

## Spark SQL Predicate

In [0]:
from pyspark.sql.functions import col

In [0]:
dt_employee.delete(col("id") == 13)

## SQL CTE (drop duplicates)

In [0]:
%sql

SELECT * FROM delta.`dbfs:/FileStore/tables/delta/employee`

id,name,gender,salary,dept
12,Leonard Harris,m,215000,Finance
11,Marta Evans,f,205000,Marketing
6,Frank Martin,m,240000,Support
19,Wendy Scott,f,220000,Support
19,Wendy Scott,f,220000,Support
8,Henry Clark,m,230000,Sales
20,Xavier Lee,m,245000,Sales
20,Xavier Lee,m,245000,Sales
9,Irene Turner,f,175000,HR
18,Victor Adams,m,235000,IT
18,Victor Adams,m,235000,IT
10,Jack White,m,190000,IT
3,Bob Smith,m,220000,IT
5,Eve Davis,f,195000,HR
7,Grace Lee,f,210000,IT

In [0]:
%sql

WITH CTE AS (
    SELECT id,
           name,
           gender,
           salary,
           dept,
           ROW_NUMBER() OVER(PARTITION BY id, name, gender, salary, dept ORDER BY id) AS id_count
    FROM delta.`dbfs:/FileStore/tables/delta/employee`
)

SELECT * FROM CTE

id,name,gender,salary,dept,id_count
3,Bob Smith,m,220000,IT,1
5,Eve Davis,f,195000,HR,1
6,Frank Martin,m,240000,Support,1
7,Grace Lee,f,210000,IT,1
8,Henry Clark,m,230000,Sales,1
9,Irene Turner,f,175000,HR,1
10,Jack White,m,190000,IT,1
11,Marta Evans,f,205000,Marketing,1
12,Leonard Harris,m,215000,Finance,1
18,Victor Adams,m,235000,IT,1
18,Victor Adams,m,235000,IT,2
19,Wendy Scott,f,220000,Support,1
19,Wendy Scott,f,220000,Support,2
20,Xavier Lee,m,245000,Sales,1
20,Xavier Lee,m,245000,Sales,2

In [0]:
%sql

CREATE OR REPLACE TABLE temp_employee AS
WITH CTE AS (
    SELECT id,
           name,
           gender,
           salary,
           dept,
           ROW_NUMBER() OVER(PARTITION BY id, name, gender, salary, dept ORDER BY id) AS id_count
    FROM delta.`dbfs:/FileStore/tables/delta/employee`
)
SELECT id, name, gender, salary, dept
FROM CTE
WHERE id_count = 1;

CREATE OR REPLACE TABLE delta.`dbfs:/FileStore/tables/delta/employee` AS
SELECT * FROM temp_employee;

DROP TABLE temp_employee;

In [0]:
%sql

SELECT * FROM delta.`dbfs:/FileStore/tables/delta/employee`

id,name,gender,salary,dept
3,Bob Smith,m,220000,IT
5,Eve Davis,f,195000,HR
6,Frank Martin,m,240000,Support
7,Grace Lee,f,210000,IT
8,Henry Clark,m,230000,Sales
9,Irene Turner,f,175000,HR
10,Jack White,m,190000,IT
11,Marta Evans,f,205000,Marketing
12,Leonard Harris,m,215000,Finance
18,Victor Adams,m,235000,IT
19,Wendy Scott,f,220000,Support
20,Xavier Lee,m,245000,Sales

# UPDATE DATA DELTA TABLE

In [0]:
from delta.tables import *

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, BooleanType

In [0]:
DeltaTable.createOrReplace(spark) \
    .tableName("student_dt") \
    .addColumn("name","STRING") \
    .addColumn("subject","STRING") \
    .addColumn("exam_1","INT") \
    .addColumn("exam_2","INT") \
    .addColumn("exam_3","INT") \
    .addColumn("exam_4","INT") \
    .addColumn("exam_5","INT") \
    .addColumn("approved","BOOLEAN") \
    .addColumn("attendance","STRING") \
    .property("description","Student delta table") \
    .location("dbfs:/FileStore/tables/delta/student") \
    .execute()

Out[24]: <delta.tables.DeltaTable at 0x7ff9a2f30cd0>

In [0]:
data_student = [
    ("Alice Johnson", "Math", 85, 72, 65, 88, 94, True, 95),
    ("Alice Johnson", "English", 78, 84, 57, 91, 89, True, 88),
    ("Alice Johnson", "History", 92, 76, 82, 93, 80, True, 97),
    ("Alice Johnson", "Science", 67, 70, 85, 66, 73, True, 80),
    ("Alice Johnson", "Art", 55, 59, 47, 60, 62, False, 70),
    
    ("Bob Smith", "Math", 72, 66, 81, 75, 83, True, 85),
    ("Bob Smith", "English", 81, 92, 74, 68, 77, True, 90),
    ("Bob Smith", "History", 60, 54, 69, 61, 65, True, 75),
    ("Bob Smith", "Science", 50, 48, 56, 53, 60, False, 65),
    ("Bob Smith", "Art", 58, 61, 63, 57, 55, True, 77),

    ("Charlie Wood", "Math", 93, 88, 79, 91, 85, True, 98),
    ("Charlie Wood", "English", 89, 83, 87, 92, 90, True, 92),
    ("Charlie Wood", "History", 74, 68, 77, 72, 70, True, 84),
    ("Charlie Wood", "Science", 88, 91, 85, 87, 89, True, 91),
    ("Charlie Wood", "Art", 79, 74, 81, 76, 78, True, 87),

    ("Diane Brown", "Math", 61, 55, 64, 58, 62, True, 82),
    ("Diane Brown", "English", 57, 49, 53, 61, 50, False, 68),
    ("Diane Brown", "History", 69, 63, 71, 66, 67, True, 80),
    ("Diane Brown", "Science", 73, 78, 70, 74, 72, True, 85),
    ("Diane Brown", "Art", 62, 58, 65, 60, 63, True, 76),

    ("Eve Davis", "Math", 54, 47, 52, 56, 50, False, 66),
    ("Eve Davis", "English", 48, 42, 45, 49, 44, False, 58),
    ("Eve Davis", "History", 63, 68, 61, 66, 62, True, 77),
    ("Eve Davis", "Science", 70, 73, 75, 69, 71, True, 83),
    ("Eve Davis", "Art", 66, 64, 69, 61, 67, True, 81)
]

schema_student = StructType([ \
    StructField("name",StringType(),False), \
    StructField("subject",StringType(),False), \
    StructField("exam_1",IntegerType(),True), \
    StructField("exam_2",IntegerType(),True), \
    StructField("exam_3",IntegerType(),True), \
    StructField("exam_4",IntegerType(),True), \
    StructField("exam_5",IntegerType(),True), \
    StructField("approved",BooleanType(),True), \
    StructField("attendance",StringType(),True), \
])

In [0]:
df_student = spark.createDataFrame(data=data_student,schema=schema_student)

In [0]:
df_student.write.format("delta").mode("append").saveAsTable("student_dt")

## SQL Update using Table Name

In [0]:
%sql

UPDATE student_dt SET exam_1 = 80 WHERE name = "Alice Johnson" AND subject = "Math"

num_affected_rows
1

## SQL Update using Table Path

In [0]:
%sql
UPDATE delta.`dbfs:/FileStore/tables/delta/student` SET attendance = 100 WHERE subject = "Art"

num_affected_rows
5

## Spark Delta Table Instance Update

In [0]:
students_dt = DeltaTable.forPath(spark,"dbfs:/FileStore/tables/delta/student")

In [0]:
students_dt.update(
    condition="subject = 'Math' AND exam_1 < 70",
    set={
        "approved":"False"
    }
)