# DISTINCT VS DROP DUPLICATES

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/29 17:25:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data_vendors = [
    ("Andres","T1",600),
    ("Andres","T2",700),
    ("Andres","T2",700),
    ("Andres","T1",1000),
    ("Carlos","T1",0),
    ("Carlos","T1",0),
    ("Carlos","T3",None),
    ("Carlos","T4",500),
    ("Lucia","T1",200),
    ("Lucia","T2",2000),
    ("Lucia","T2",500),
    ("Lucia","T2",500),
    ("Lucia","T4",800),
    ("Luis","T1",None),
    ("Luis","T1",100),
    ("Luis","T1",900),
    ("Luis","T1",None),
]

schema_vendors = "name STRING, period STRING, amount INTEGER"

In [4]:
df_vendors = spark.createDataFrame(data=data_vendors, schema=schema_vendors)
df_vendors.show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T2|   700|
|Andres|    T2|   700|
|Andres|    T1|  1000|
|Carlos|    T1|     0|
|Carlos|    T1|     0|
|Carlos|    T3|  NULL|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T2|   500|
| Lucia|    T2|   500|
| Lucia|    T4|   800|
|  Luis|    T1|  NULL|
|  Luis|    T1|   100|
|  Luis|    T1|   900|
|  Luis|    T1|  NULL|
+------+------+------+

In [5]:
df_vendors.count()

17

## Distinct remove duplicates

In [12]:
df_vendors.distinct().orderBy("name","period").show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T1|  1000|
|Andres|    T2|   700|
|Carlos|    T1|     0|
|Carlos|    T3|  NULL|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T2|   500|
| Lucia|    T4|   800|
|  Luis|    T1|   100|
|  Luis|    T1|   900|
|  Luis|    T1|  NULL|
+------+------+------+

In [7]:
df_vendors.distinct().count()

13

## Distinct with subset

In [11]:
df_vendors.select("name","period").distinct().orderBy("name","period").show()

+------+------+
|  name|period|
+------+------+
|Andres|    T1|
|Andres|    T2|
|Carlos|    T1|
|Carlos|    T3|
|Carlos|    T4|
| Lucia|    T1|
| Lucia|    T2|
| Lucia|    T4|
|  Luis|    T1|
+------+------+

In [10]:
df_vendors.select("name","period").distinct().count()

9

## dropDuplicates without subset

In [13]:
df_vendors.dropDuplicates().orderBy("name","period").show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T1|  1000|
|Andres|    T2|   700|
|Carlos|    T1|     0|
|Carlos|    T3|  NULL|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T2|   500|
| Lucia|    T4|   800|
|  Luis|    T1|   100|
|  Luis|    T1|   900|
|  Luis|    T1|  NULL|
+------+------+------+

In [15]:
df_vendors.dropDuplicates().count()

13

## drop_duplicates withouth subset

In [21]:
df_vendors.drop_duplicates().orderBy("name","period").show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T1|  1000|
|Andres|    T2|   700|
|Carlos|    T1|     0|
|Carlos|    T3|  NULL|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T2|   500|
| Lucia|    T4|   800|
|  Luis|    T1|   100|
|  Luis|    T1|   900|
|  Luis|    T1|  NULL|
+------+------+------+

In [22]:
df_vendors.drop_duplicates().count()

13

## dropDuplicates with subset

In [19]:
df_vendors.dropDuplicates(subset=["name","period"]).orderBy("name","period").show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T2|   700|
|Carlos|    T1|     0|
|Carlos|    T3|  NULL|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T4|   800|
|  Luis|    T1|  NULL|
+------+------+------+

In [20]:
df_vendors.dropDuplicates(subset=["name","period"]).count()

9

## drop_duplicates with subset

In [23]:
df_vendors.drop_duplicates(subset=["name","period"]).orderBy("name","period").show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T2|   700|
|Carlos|    T1|     0|
|Carlos|    T3|  NULL|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T4|   800|
|  Luis|    T1|  NULL|
+------+------+------+

In [24]:
df_vendors.drop_duplicates(subset=["name","period"]).count()

9