# GREATEST, LEAST, MAX & MIN

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/21 17:15:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data_student = [
    ("Alice Johnson", "Math", 85, 72, 65, 88, 94, True, 95),
    ("Alice Johnson", "English", 78, 84, 57, 91, 89, True, 88),
    ("Alice Johnson", "History", 92, 76, 82, 93, 80, True, 97),
    ("Alice Johnson", "Science", 67, 70, 85, 66, 73, True, 80),
    ("Alice Johnson", "Art", 55, 59, 47, 60, 62, False, 70),
    
    ("Bob Smith", "Math", 72, 66, 81, 75, 83, True, 85),
    ("Bob Smith", "English", 81, 92, 74, 68, 77, True, 90),
    ("Bob Smith", "History", 60, 54, 69, 61, 65, True, 75),
    ("Bob Smith", "Science", 50, 48, 56, 53, 60, False, 65),
    ("Bob Smith", "Art", 58, 61, 63, 57, 55, True, 77),

    ("Charlie Wood", "Math", 93, 88, 79, 91, 85, True, 98),
    ("Charlie Wood", "English", 89, 83, 87, 92, 90, True, 92),
    ("Charlie Wood", "History", 74, 68, 77, 72, 70, True, 84),
    ("Charlie Wood", "Science", 88, 91, 85, 87, 89, True, 91),
    ("Charlie Wood", "Art", 79, 74, 81, 76, 78, True, 87),

    ("Diane Brown", "Math", 61, 55, 64, 58, 62, True, 82),
    ("Diane Brown", "English", 57, 49, 53, 61, 50, False, 68),
    ("Diane Brown", "History", 69, 63, 71, 66, 67, True, 80),
    ("Diane Brown", "Science", 73, 78, 70, 74, 72, True, 85),
    ("Diane Brown", "Art", 62, 58, 65, 60, 63, True, 76),

    ("Eve Davis", "Math", 54, 47, 52, 56, 50, False, 66),
    ("Eve Davis", "English", 48, 42, 45, 49, 44, False, 58),
    ("Eve Davis", "History", 63, 68, 61, 66, 62, True, 77),
    ("Eve Davis", "Science", 70, 73, 75, 69, 71, True, 83),
    ("Eve Davis", "Art", 66, 64, 69, 61, 67, True, 81)
]


schema_student = ["name","suject","exam_1","exam_2","exam_3","exam_4","exam_5","approved","attendance"]

In [4]:
df_student = spark.createDataFrame(data=data_student,schema=schema_student)

In [5]:
df_student.show()

+-------------+-------+------+------+------+------+------+--------+----------+
|         name| suject|exam_1|exam_2|exam_3|exam_4|exam_5|approved|attendance|
+-------------+-------+------+------+------+------+------+--------+----------+
|Alice Johnson|   Math|    85|    72|    65|    88|    94|    true|        95|
|Alice Johnson|English|    78|    84|    57|    91|    89|    true|        88|
|Alice Johnson|History|    92|    76|    82|    93|    80|    true|        97|
|Alice Johnson|Science|    67|    70|    85|    66|    73|    true|        80|
|Alice Johnson|    Art|    55|    59|    47|    60|    62|   false|        70|
|    Bob Smith|   Math|    72|    66|    81|    75|    83|    true|        85|
|    Bob Smith|English|    81|    92|    74|    68|    77|    true|        90|
|    Bob Smith|History|    60|    54|    69|    61|    65|    true|        75|
|    Bob Smith|Science|    50|    48|    56|    53|    60|   false|        65|
|    Bob Smith|    Art|    58|    61|    63|    57|    55|    true|        77|
| Charlie Wood|   Math|    93|    88|    79|    91|    85|    true|        98|
| Charlie Wood|English|    89|    83|    87|    92|    90|    true|        92|
| Charlie Wood|History|    74|    68|    77|    72|    70|    true|        84|
| Charlie Wood|Science|    88|    91|    85|    87|    89|    true|        91|
| Charlie Wood|    Art|    79|    74|    81|    76|    78|    true|        87|
|  Diane Brown|   Math|    61|    55|    64|    58|    62|    true|        82|
|  Diane Brown|English|    57|    49|    53|    61|    50|   false|        68|
|  Diane Brown|History|    69|    63|    71|    66|    67|    true|        80|
|  Diane Brown|Science|    73|    78|    70|    74|    72|    true|        85|
|  Diane Brown|    Art|    62|    58|    65|    60|    63|    true|        76|
+-------------+-------+------+------+------+------+------+--------+----------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import greatest, max, least, min, col

## GREATEST

Apply across multiple columns and return the biggest value

In [7]:
df_student.withColumn("best_score", greatest("exam_1","exam_2","exam_3","exam_4","exam_5")).show()

+-------------+-------+------+------+------+------+------+--------+----------+----------+
|         name| suject|exam_1|exam_2|exam_3|exam_4|exam_5|approved|attendance|best_score|
+-------------+-------+------+------+------+------+------+--------+----------+----------+
|Alice Johnson|   Math|    85|    72|    65|    88|    94|    true|        95|        94|
|Alice Johnson|English|    78|    84|    57|    91|    89|    true|        88|        91|
|Alice Johnson|History|    92|    76|    82|    93|    80|    true|        97|        93|
|Alice Johnson|Science|    67|    70|    85|    66|    73|    true|        80|        85|
|Alice Johnson|    Art|    55|    59|    47|    60|    62|   false|        70|        62|
|    Bob Smith|   Math|    72|    66|    81|    75|    83|    true|        85|        83|
|    Bob Smith|English|    81|    92|    74|    68|    77|    true|        90|        92|
|    Bob Smith|History|    60|    54|    69|    61|    65|    true|        75|        69|
|    Bob Smith|Science|    50|    48|    56|    53|    60|   false|        65|        60|
|    Bob Smith|    Art|    58|    61|    63|    57|    55|    true|        77|        63|
| Charlie Wood|   Math|    93|    88|    79|    91|    85|    true|        98|        93|
| Charlie Wood|English|    89|    83|    87|    92|    90|    true|        92|        92|
| Charlie Wood|History|    74|    68|    77|    72|    70|    true|        84|        77|
| Charlie Wood|Science|    88|    91|    85|    87|    89|    true|        91|        91|
| Charlie Wood|    Art|    79|    74|    81|    76|    78|    true|        87|        81|
|  Diane Brown|   Math|    61|    55|    64|    58|    62|    true|        82|        64|
|  Diane Brown|English|    57|    49|    53|    61|    50|   false|        68|        61|
|  Diane Brown|History|    69|    63|    71|    66|    67|    true|        80|        71|
|  Diane Brown|Science|    73|    78|    70|    74|    72|    true|        85|        78|
|  Diane Brown|    Art|    62|    58|    65|    60|    63|    true|        76|        65|
+-------------+-------+------+------+------+------+------+--------+----------+----------+
only showing top 20 rows

## MAX

Apply across multiple rows and return the biggest value

In [8]:
df_student.select(max(col("attendance"))).show()

+---------------+
|max(attendance)|
+---------------+
|             98|
+---------------+

In [9]:
df_student.agg({"attendance":"max"}).show()

+---------------+
|max(attendance)|
+---------------+
|             98|
+---------------+

In [10]:
df_student.select(
    max(col("exam_1")).alias("best_exam_1"),
    max(col("exam_2")).alias("best_exam_2"),
    max(col("exam_3")).alias("best_exam_3"),
    max(col("exam_4")).alias("best_exam_4"),
    max(col("exam_5")).alias("best_exam_5")).show()

+-----------+-----------+-----------+-----------+-----------+
|best_exam_1|best_exam_2|best_exam_3|best_exam_4|best_exam_5|
+-----------+-----------+-----------+-----------+-----------+
|         93|         92|         87|         93|         94|
+-----------+-----------+-----------+-----------+-----------+

In [11]:
df_student.agg({
    "exam_1":"max",
    "exam_2":"max",
    "exam_3":"max",
    "exam_4":"max",
    "exam_5":"max"}).show()

+-----------+-----------+-----------+-----------+-----------+
|max(exam_1)|max(exam_2)|max(exam_3)|max(exam_5)|max(exam_4)|
+-----------+-----------+-----------+-----------+-----------+
|         93|         92|         87|         94|         93|
+-----------+-----------+-----------+-----------+-----------+

## LEAST

Apply across multiple rows and return the smallest value

In [12]:
df_student.withColumn("worst_score", least("exam_1","exam_2","exam_3","exam_4","exam_5")).show()

+-------------+-------+------+------+------+------+------+--------+----------+-----------+
|         name| suject|exam_1|exam_2|exam_3|exam_4|exam_5|approved|attendance|worst_score|
+-------------+-------+------+------+------+------+------+--------+----------+-----------+
|Alice Johnson|   Math|    85|    72|    65|    88|    94|    true|        95|         65|
|Alice Johnson|English|    78|    84|    57|    91|    89|    true|        88|         57|
|Alice Johnson|History|    92|    76|    82|    93|    80|    true|        97|         76|
|Alice Johnson|Science|    67|    70|    85|    66|    73|    true|        80|         66|
|Alice Johnson|    Art|    55|    59|    47|    60|    62|   false|        70|         47|
|    Bob Smith|   Math|    72|    66|    81|    75|    83|    true|        85|         66|
|    Bob Smith|English|    81|    92|    74|    68|    77|    true|        90|         68|
|    Bob Smith|History|    60|    54|    69|    61|    65|    true|        75|         54|
|    Bob Smith|Science|    50|    48|    56|    53|    60|   false|        65|         48|
|    Bob Smith|    Art|    58|    61|    63|    57|    55|    true|        77|         55|
| Charlie Wood|   Math|    93|    88|    79|    91|    85|    true|        98|         79|
| Charlie Wood|English|    89|    83|    87|    92|    90|    true|        92|         83|
| Charlie Wood|History|    74|    68|    77|    72|    70|    true|        84|         68|
| Charlie Wood|Science|    88|    91|    85|    87|    89|    true|        91|         85|
| Charlie Wood|    Art|    79|    74|    81|    76|    78|    true|        87|         74|
|  Diane Brown|   Math|    61|    55|    64|    58|    62|    true|        82|         55|
|  Diane Brown|English|    57|    49|    53|    61|    50|   false|        68|         49|
|  Diane Brown|History|    69|    63|    71|    66|    67|    true|        80|         63|
|  Diane Brown|Science|    73|    78|    70|    74|    72|    true|        85|         70|
|  Diane Brown|    Art|    62|    58|    65|    60|    63|    true|        76|         58|
+-------------+-------+------+------+------+------+------+--------+----------+-----------+
only showing top 20 rows

## MIN

Apply across multiple rows and return the smallest value

In [13]:
df_student.select(min(col("attendance"))).show()

+---------------+
|min(attendance)|
+---------------+
|             58|
+---------------+

In [14]:
df_student.agg({"attendance":"min"}).show()

+---------------+
|min(attendance)|
+---------------+
|             58|
+---------------+

In [15]:
df_student.select(
    min(col("exam_1")).alias("worst_exam_1"),
    min(col("exam_2")).alias("worst_exam_2"),
    min(col("exam_3")).alias("worst_exam_3"),
    min(col("exam_4")).alias("worst_exam_4"),
    min(col("exam_5")).alias("worst_exam_5")).show()

+------------+------------+------------+------------+------------+
|worst_exam_1|worst_exam_2|worst_exam_3|worst_exam_4|worst_exam_5|
+------------+------------+------------+------------+------------+
|          48|          42|          45|          49|          44|
+------------+------------+------------+------------+------------+

In [16]:
df_student.agg({
    "exam_1":"min",
    "exam_2":"min",
    "exam_3":"min",
    "exam_4":"min",
    "exam_5":"min"}).show()

+-----------+-----------+-----------+-----------+-----------+
|min(exam_1)|min(exam_2)|min(exam_3)|min(exam_5)|min(exam_4)|
+-----------+-----------+-----------+-----------+-----------+
|         48|         42|         45|         44|         49|
+-----------+-----------+-----------+-----------+-----------+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 42602)
Traceback (most recent call last):
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------