# INPUT FILE NAME

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/27 20:57:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
path = "../datasets/data_corrupt/"

In [4]:
schema = "id INTEGER, name STRING, gender STRING, salary INTEGER, dept STRING"

In [5]:
df = spark.read.option("sep",",").schema(schema).option("header","true").csv(path + "*/*")

df.show()

+----+------------+------+------+-------+
|  id|        name|gender|salary|   dept|
+----+------------+------+------+-------+
|   1|   Carl Mike|     m|170000|Support|
|   2| Mikel Clark|     m|254300|     IT|
|   7|Luis Fuentes|     m|257100|     IT|
|   8|  Pedro Jose|     m|254300|     IT|
|   3|   Bob Smith|     m|220000|     IT|
|NULL|  Mary Scala|     f|230000|  Sales|
|NULL|  Susan Liam|     f|150000|  Sales|
|   6|     Xi Wuan|     f|150000|     IT|
+----+------------+------+------+-------+

In [6]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- dept: string (nullable = true)

## Check nulls id

In [8]:
df.filter("id is null").show()

+----+----------+------+------+-----+
|  id|      name|gender|salary| dept|
+----+----------+------+------+-----+
|NULL|Mary Scala|     f|230000|Sales|
|NULL|Susan Liam|     f|150000|Sales|
+----+----------+------+------+-----+

## Find input file name w/null id

In [9]:
from pyspark.sql.functions import input_file_name

In [11]:
df.withColumn("path/file",input_file_name()).filter("id is null").show(truncate=False)

+----+----------+------+------+-----+--------------------------------------------------------------------------------------+
|id  |name      |gender|salary|dept |path/file                                                                             |
+----+----------+------+------+-----+--------------------------------------------------------------------------------------+
|NULL|Mary Scala|f     |230000|Sales|file:///home/andresmunozpampillon/spark-files/datasets/data_corrupt/Q1/employees_2.csv|
|NULL|Susan Liam|f     |150000|Sales|file:///home/andresmunozpampillon/spark-files/datasets/data_corrupt/Q2/employees_1.csv|
+----+----------+------+------+-----+--------------------------------------------------------------------------------------+