# NUMBER OF JOBS READING FILE

In [1]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/21 16:16:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Read without options

In [6]:
df_no_option = spark.read.format("csv").load("../datasets/baby_names.csv")

In [7]:
df_no_option.show()

+----+----------+-----------+---+-----+
| _c0|       _c1|        _c2|_c3|  _c4|
+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
+----+----------+-----------+---+-----+
only showing top 20 rows

## Read with inferSchema

In [8]:
df_infer_schema = spark.read.format("csv").option("inferSchema",True).load("../datasets/baby_names.csv")

## Read with schema defined

In [14]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("Year",IntegerType(),False),
    StructField("FirstName",StringType(),True),
    StructField("Country",StringType(),True),
    StructField("Sex",StringType(),True),
    StructField("Count",IntegerType(),True),
    
])

In [15]:
df_schema_defined = spark.read.format("csv").schema(schema).load("../datasets/baby_names.csv")