# JOIN STRING

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder.getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/19 18:11:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
employee_data = [
    (1, "Charlie Wood", "2023-01-20", True, 250000),
    (2, "Alice Johnson", "2021-03-15", True, 180000),
    (3, "Bob Smith", "2019-06-12", False, 220000),
    (4, "Diane Brown", "2022-11-05", True, 200000),
    (5, "Eve Davis", "2020-08-30", False, 195000),
    (6, "Frank Martin", "2018-12-22", True, 240000),
    (7, "Grace Lee", "2023-02-10", True, 210000),
    (8, "Henry Clark", "2022-05-17", True, 230000),
    (9, "Irene Turner", "2017-09-25", False, 175000),
    (10, "Jack White", "2021-07-13", True, 190000)
]

employee_schema = ["id","name","date_of_join","active","anual_salary"]

In [4]:
df_employee = spark.createDataFrame(employee_data,employee_schema)
df_employee.show()

+---+-------------+------------+------+------------+
| id|         name|date_of_join|active|anual_salary|
+---+-------------+------------+------+------------+
|  1| Charlie Wood|  2023-01-20|  true|      250000|
|  2|Alice Johnson|  2021-03-15|  true|      180000|
|  3|    Bob Smith|  2019-06-12| false|      220000|
|  4|  Diane Brown|  2022-11-05|  true|      200000|
|  5|    Eve Davis|  2020-08-30| false|      195000|
|  6| Frank Martin|  2018-12-22|  true|      240000|
|  7|    Grace Lee|  2023-02-10|  true|      210000|
|  8|  Henry Clark|  2022-05-17|  true|      230000|
|  9| Irene Turner|  2017-09-25| false|      175000|
| 10|   Jack White|  2021-07-13|  true|      190000|
+---+-------------+------------+------+------------+

In [5]:
df_employee.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- date_of_join: string (nullable = true)
 |-- active: boolean (nullable = true)
 |-- anual_salary: long (nullable = true)

In [7]:
list_columns = df_employee.columns

print(list_columns)

['id', 'name', 'date_of_join', 'active', 'anual_salary']

In [8]:
list_joined_comma = ",".join(list_columns)

print(list_joined_comma)

id,name,date_of_join,active,anual_salary

In [9]:
list_joined_blank = "".join(list_columns)

print(list_joined_blank)

idnamedate_of_joinactiveanual_salary

## Use case

In [10]:
print(list_columns)

['id', 'name', 'date_of_join', 'active', 'anual_salary']

In [12]:
join_string = " AND ".join(list(map(lambda x: ("Target." + x + " = Source." + x),list_columns)))

print(join_string)

Target.id = Source.id AND Target.name = Source.name AND Target.date_of_join = Source.date_of_join AND Target.active = Source.active AND Target.anual_salary = Source.anual_salary

In [13]:
update_string = ",".join(list(map(lambda x: ("Target." + x + " = Source." + x),list_columns)))

print(update_string)

Target.id = Source.id,Target.name = Source.name,Target.date_of_join = Source.date_of_join,Target.active = Source.active,Target.anual_salary = Source.anual_salary

In [14]:
source_insert_string = ",".join(list(map(lambda x: ("Source." + x),list_columns)))

print(source_insert_string)

Source.id,Source.name,Source.date_of_join,Source.active,Source.anual_salary

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 33446)
Traceback (most recent call last):
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/andresmunozpampillon/anaconda3/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/home/andresmunozpampillon/spark-3.5.2-bin-hadoop3/python/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------