# LagLeadWindowFunction

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/27 21:32:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data_employee = [(1, "Carl Mike", "m", 170000, "Support"),
                 (2, "Mikel Clark", "m", 254300, "IT"),
                 (3, "Bob Smith", "m", 220000, "IT"),
                 (4, "Mary Scala", "f", 230000, "Sales"),
                 (5, "Susan Liam", "f", 150000, "Sales"),
                 (6, "Xi Wuan", "f", 150000, "IT"),
                 (7, "Kyla Stewart", "f", 185000, "Support"),
                 (8, "Mia Lebrin", "f", 242000, "IT")]


schema_employee = "id INTEGER, name STRING, gender STRING, salary INTEGER, dept STRING"

In [4]:
df_employee = spark.createDataFrame(data=data_employee, schema=schema_employee)

df_employee.show()

+---+------------+------+------+-------+
| id|        name|gender|salary|   dept|
+---+------------+------+------+-------+
|  1|   Carl Mike|     m|170000|Support|
|  2| Mikel Clark|     m|254300|     IT|
|  3|   Bob Smith|     m|220000|     IT|
|  4|  Mary Scala|     f|230000|  Sales|
|  5|  Susan Liam|     f|150000|  Sales|
|  6|     Xi Wuan|     f|150000|     IT|
|  7|Kyla Stewart|     f|185000|Support|
|  8|  Mia Lebrin|     f|242000|     IT|
+---+------------+------+------+-------+

## Window Function

In [5]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [8]:
window_definition = Window.partitionBy("dept").orderBy("salary")

## Lag Window Function

In [7]:
from pyspark.sql.functions import lag

In [10]:
df_employee.withColumn("lag",lag("salary",1).over(window_definition)).show()

+---+------------+------+------+-------+------+
| id|        name|gender|salary|   dept|   lag|
+---+------------+------+------+-------+------+
|  6|     Xi Wuan|     f|150000|     IT|  NULL|
|  3|   Bob Smith|     m|220000|     IT|150000|
|  8|  Mia Lebrin|     f|242000|     IT|220000|
|  2| Mikel Clark|     m|254300|     IT|242000|
|  5|  Susan Liam|     f|150000|  Sales|  NULL|
|  4|  Mary Scala|     f|230000|  Sales|150000|
|  1|   Carl Mike|     m|170000|Support|  NULL|
|  7|Kyla Stewart|     f|185000|Support|170000|
+---+------------+------+------+-------+------+

## Lead Window Function

In [11]:
from pyspark.sql.functions import lead

In [12]:
df_employee.withColumn("lead",lead("salary",1).over(window_definition)).show()

+---+------------+------+------+-------+------+
| id|        name|gender|salary|   dept|  lead|
+---+------------+------+------+-------+------+
|  6|     Xi Wuan|     f|150000|     IT|220000|
|  3|   Bob Smith|     m|220000|     IT|242000|
|  8|  Mia Lebrin|     f|242000|     IT|254300|
|  2| Mikel Clark|     m|254300|     IT|  NULL|
|  5|  Susan Liam|     f|150000|  Sales|230000|
|  4|  Mary Scala|     f|230000|  Sales|  NULL|
|  1|   Carl Mike|     m|170000|Support|185000|
|  7|Kyla Stewart|     f|185000|Support|  NULL|
+---+------------+------+------+-------+------+