# NULL COUNT

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/20 20:04:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
employee_data = [
    (1, None, "2023-01-20", True, 250000),
    (2, "Alice Johnson", "2021-03-15", True, 180000),
    (3, None, None, None, None),
    (4, "Diane Brown", "2022-11-05", True, 200000),
    (5, None, "2020-08-30", False, 195000),
    (6, "Frank Martin", "2018-12-22", True, 240000),
    (7, "Grace Lee", "2023-02-10", None, 210000),
    (8, "Henry Clark", "2022-05-17", True, None),
    (9, "Irene Turner", None, False, 175000),
    (10, "Jack White", None, True, None)
]

employee_schema = ["id","name","date_of_join","active","salary"]

df_employee = spark.createDataFrame(data=employee_data,schema=employee_schema)

df_employee.show()

+---+-------------+------------+------+------+
| id|         name|date_of_join|active|salary|
+---+-------------+------------+------+------+
|  1|         NULL|  2023-01-20|  true|250000|
|  2|Alice Johnson|  2021-03-15|  true|180000|
|  3|         NULL|        NULL|  NULL|  NULL|
|  4|  Diane Brown|  2022-11-05|  true|200000|
|  5|         NULL|  2020-08-30| false|195000|
|  6| Frank Martin|  2018-12-22|  true|240000|
|  7|    Grace Lee|  2023-02-10|  NULL|210000|
|  8|  Henry Clark|  2022-05-17|  true|  NULL|
|  9| Irene Turner|        NULL| false|175000|
| 10|   Jack White|        NULL|  true|  NULL|
+---+-------------+------------+------+------+

## Find null in each column

In [4]:
from pyspark.sql.functions import col, count, when

In [5]:
null_result = df_employee.select(
    [count(
        when(col(c).isNull(),c)
    ).alias(c) for c in df_employee.columns]
)
null_result.show()

+---+----+------------+------+------+
| id|name|date_of_join|active|salary|
+---+----+------------+------+------+
|  0|   3|           3|     2|     3|
+---+----+------------+------+------+