#PIVOT

In [0]:
vendors = [
    ("Andres","T1",600),
    ("Andres","T2",700),
    ("Andres","T3",200),
    ("Andres","T4",1000),
    ("Carlos","T1",0),
    ("Carlos","T2",200),
    ("Carlos","T3",None),
    ("Carlos","T4",500),
    ("Lucia","T1",200),
    ("Lucia","T2",2000),
    ("Lucia","T2",2500),
    ("Lucia","T2",500),
    ("Lucia","T4",800),
    ("Luis","T1",50),
    ("Luis","T2",100),
    ("Luis","T3",900),
    ("Luis","T5",600),
]

schema_vendors = ["name","period","amount"]

df_vendors = spark.createDataFrame(data=vendors,schema=schema_vendors)

df_vendors.show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Andres|    T1|   600|
|Andres|    T2|   700|
|Andres|    T3|   200|
|Andres|    T4|  1000|
|Carlos|    T1|     0|
|Carlos|    T2|   200|
|Carlos|    T3|  null|
|Carlos|    T4|   500|
| Lucia|    T1|   200|
| Lucia|    T2|  2000|
| Lucia|    T2|  2500|
| Lucia|    T2|   500|
| Lucia|    T4|   800|
|  Luis|    T1|    50|
|  Luis|    T2|   100|
|  Luis|    T3|   900|
|  Luis|    T5|   600|
+------+------+------+

##Pivot

In [0]:
df_vendors_pivot = df_vendors.groupBy("name").pivot("period").sum("amount")

df_vendors_pivot.show()

+------+---+----+----+----+----+
|  name| T1|  T2|  T3|  T4|  T5|
+------+---+----+----+----+----+
|Carlos|  0| 200|null| 500|null|
|Andres|600| 700| 200|1000|null|
| Lucia|200|5000|null| 800|null|
|  Luis| 50| 100| 900|null| 600|
+------+---+----+----+----+----+

In [0]:
df_vendors.groupBy("name").pivot("period").avg("amount").show()

+------+-----+------------------+-----+------+-----+
|  name|   T1|                T2|   T3|    T4|   T5|
+------+-----+------------------+-----+------+-----+
|Carlos|  0.0|             200.0| null| 500.0| null|
|Andres|600.0|             700.0|200.0|1000.0| null|
| Lucia|200.0|1666.6666666666667| null| 800.0| null|
|  Luis| 50.0|             100.0|900.0|  null|600.0|
+------+-----+------------------+-----+------+-----+

In [0]:
df_vendors.groupBy("name").pivot("period").max("amount").show()

+------+---+----+----+----+----+
|  name| T1|  T2|  T3|  T4|  T5|
+------+---+----+----+----+----+
|Carlos|  0| 200|null| 500|null|
|Andres|600| 700| 200|1000|null|
| Lucia|200|2500|null| 800|null|
|  Luis| 50| 100| 900|null| 600|
+------+---+----+----+----+----+

In [0]:
df_vendors.groupBy("name").pivot("period").min("amount").show()

+------+---+---+----+----+----+
|  name| T1| T2|  T3|  T4|  T5|
+------+---+---+----+----+----+
|Carlos|  0|200|null| 500|null|
|Andres|600|700| 200|1000|null|
| Lucia|200|500|null| 800|null|
|  Luis| 50|100| 900|null| 600|
+------+---+---+----+----+----+

##Unpivot

In [0]:
df_vendors_pivot.selectExpr("name","stack(5,'T1',T1,'T2',T2,'T3',T3,'T4',T4,'T5',T5) as (period, amount)").show()

+------+------+------+
|  name|period|amount|
+------+------+------+
|Carlos|    T1|     0|
|Carlos|    T2|   200|
|Carlos|    T3|  null|
|Carlos|    T4|   500|
|Carlos|    T5|  null|
|Andres|    T1|   600|
|Andres|    T2|   700|
|Andres|    T3|   200|
|Andres|    T4|  1000|
|Andres|    T5|  null|
| Lucia|    T1|   200|
| Lucia|    T2|  5000|
| Lucia|    T3|  null|
| Lucia|    T4|   800|
| Lucia|    T5|  null|
|  Luis|    T1|    50|
|  Luis|    T2|   100|
|  Luis|    T3|   900|
|  Luis|    T4|  null|
|  Luis|    T5|   600|
+------+------+------+

In [0]:
df_vendors_pivot.selectExpr("name","stack(3,'Tiempo1',T1,'Tiempo2',T2,'Tiempo4',T4) as (period, amount)").show()

+------+-------+------+
|  name| period|amount|
+------+-------+------+
|Carlos|Tiempo1|     0|
|Carlos|Tiempo2|   200|
|Carlos|Tiempo4|   500|
|Andres|Tiempo1|   600|
|Andres|Tiempo2|   700|
|Andres|Tiempo4|  1000|
| Lucia|Tiempo1|   200|
| Lucia|Tiempo2|  5000|
| Lucia|Tiempo4|   800|
|  Luis|Tiempo1|    50|
|  Luis|Tiempo2|   100|
|  Luis|Tiempo4|  null|
+------+-------+------+