# QUERY DATAFRAME USING SPARK SQL

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/31 00:14:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data_students = [
    ("Alice", "Johnson", "Math", 85, 72, 65, 88, 94, True, 95),
    ("Alice", "Johnson", "English", 78, 84, 57, 91, 89, True, 88),
    ("Alice", "Johnson", "History", 92, 76, 82, 93, 80, True, 97),
    ("Alice", "Johnson", "Science", 67, 70, 85, 66, 73, True, 80),
    ("Alice", "Johnson", "Art", 55, 59, 47, 60, 62, False, 70),
    
    ("Bob", "Smith", "Math", 72, 66, 81, 75, 83, True, 85),
    ("Bob", "Smith", "English", 81, 92, 74, 68, 77, True, 90),
    ("Bob", "Smith", "History", 60, 54, 69, 61, 65, True, 75),
    ("Bob", "Smith", "Science", 50, 48, 56, 53, 60, False, 65),
    ("Bob", "Smith", "Art", 58, 61, 63, 57, 55, True, 77),

    ("Charlie", "Wood", "Math", 93, 88, 79, 91, 85, True, 98),
    ("Charlie", "Wood", "English", 89, 83, 87, 92, 90, True, 92),
    ("Charlie", "Wood", "History", 74, 68, 77, 72, 70, True, 84),
    ("Charlie", "Wood", "Science", 88, 91, 85, 87, 89, True, 91),
    ("Charlie", "Wood", "Art", 79, 74, 81, 76, 78, True, 87),

    ("Diane", "Brown", "Math", 61, 55, 64, 58, 62, True, 82),
    ("Diane", "Brown", "English", 57, 49, 53, 61, 50, False, 68),
    ("Diane", "Brown", "History", 69, 63, 71, 66, 67, True, 80),
    ("Diane", "Brown", "Science", 73, 78, 70, 74, 72, True, 85),
    ("Diane", "Brown", "Art", 62, 58, 65, 60, 63, True, 76),

    ("Eve", "Davis", "Math", 54, 47, 52, 56, 50, False, 66),
    ("Eve", "Davis", "English", 48, 42, 45, 49, 44, False, 58),
    ("Eve", "Davis", "History", 63, 68, 61, 66, 62, True, 77),
    ("Eve", "Davis", "Science", 70, 73, 75, 69, 71, True, 83),
    ("Eve", "Davis", "Art", 66, 64, 69, 61, 67, True, 81)
]


schema_students = "first_name STRING, last_name STRING, suject STRING, exam_1 INTEGER, exam_2 INTEGER, exam_3 INTEGER, exam_4 INTEGER, exam_5 INTEGER, approved BOOLEAN, attendance INTEGER"

In [4]:
df_students = spark.createDataFrame(data=data_students,schema=schema_students)

df_students.show(truncate=False)

+----------+---------+-------+------+------+------+------+------+--------+----------+
|first_name|last_name|suject |exam_1|exam_2|exam_3|exam_4|exam_5|approved|attendance|
+----------+---------+-------+------+------+------+------+------+--------+----------+
|Alice     |Johnson  |Math   |85    |72    |65    |88    |94    |true    |95        |
|Alice     |Johnson  |English|78    |84    |57    |91    |89    |true    |88        |
|Alice     |Johnson  |History|92    |76    |82    |93    |80    |true    |97        |
|Alice     |Johnson  |Science|67    |70    |85    |66    |73    |true    |80        |
|Alice     |Johnson  |Art    |55    |59    |47    |60    |62    |false   |70        |
|Bob       |Smith    |Math   |72    |66    |81    |75    |83    |true    |85        |
|Bob       |Smith    |English|81    |92    |74    |68    |77    |true    |90        |
|Bob       |Smith    |History|60    |54    |69    |61    |65    |true    |75        |
|Bob       |Smith    |Science|50    |48    |56    |53    |60    |false   |65        |
|Bob       |Smith    |Art    |58    |61    |63    |57    |55    |true    |77        |
|Charlie   |Wood     |Math   |93    |88    |79    |91    |85    |true    |98        |
|Charlie   |Wood     |English|89    |83    |87    |92    |90    |true    |92        |
|Charlie   |Wood     |History|74    |68    |77    |72    |70    |true    |84        |
|Charlie   |Wood     |Science|88    |91    |85    |87    |89    |true    |91        |
|Charlie   |Wood     |Art    |79    |74    |81    |76    |78    |true    |87        |
|Diane     |Brown    |Math   |61    |55    |64    |58    |62    |true    |82        |
|Diane     |Brown    |English|57    |49    |53    |61    |50    |false   |68        |
|Diane     |Brown    |History|69    |63    |71    |66    |67    |true    |80        |
|Diane     |Brown    |Science|73    |78    |70    |74    |72    |true    |85        |
|Diane     |Brown    |Art    |62    |58    |65    |60    |63    |true    |76        |
+----------+---------+-------+------+------+------+------+------+--------+----------+
only showing top 20 rows

In [6]:
spark.sql("select * from {table}",table=df_students).show(truncate=False)

+----------+---------+-------+------+------+------+------+------+--------+----------+
|first_name|last_name|suject |exam_1|exam_2|exam_3|exam_4|exam_5|approved|attendance|
+----------+---------+-------+------+------+------+------+------+--------+----------+
|Alice     |Johnson  |Math   |85    |72    |65    |88    |94    |true    |95        |
|Alice     |Johnson  |English|78    |84    |57    |91    |89    |true    |88        |
|Alice     |Johnson  |History|92    |76    |82    |93    |80    |true    |97        |
|Alice     |Johnson  |Science|67    |70    |85    |66    |73    |true    |80        |
|Alice     |Johnson  |Art    |55    |59    |47    |60    |62    |false   |70        |
|Bob       |Smith    |Math   |72    |66    |81    |75    |83    |true    |85        |
|Bob       |Smith    |English|81    |92    |74    |68    |77    |true    |90        |
|Bob       |Smith    |History|60    |54    |69    |61    |65    |true    |75        |
|Bob       |Smith    |Science|50    |48    |56    |53    |60    |false   |65        |
|Bob       |Smith    |Art    |58    |61    |63    |57    |55    |true    |77        |
|Charlie   |Wood     |Math   |93    |88    |79    |91    |85    |true    |98        |
|Charlie   |Wood     |English|89    |83    |87    |92    |90    |true    |92        |
|Charlie   |Wood     |History|74    |68    |77    |72    |70    |true    |84        |
|Charlie   |Wood     |Science|88    |91    |85    |87    |89    |true    |91        |
|Charlie   |Wood     |Art    |79    |74    |81    |76    |78    |true    |87        |
|Diane     |Brown    |Math   |61    |55    |64    |58    |62    |true    |82        |
|Diane     |Brown    |English|57    |49    |53    |61    |50    |false   |68        |
|Diane     |Brown    |History|69    |63    |71    |66    |67    |true    |80        |
|Diane     |Brown    |Science|73    |78    |70    |74    |72    |true    |85        |
|Diane     |Brown    |Art    |62    |58    |65    |60    |63    |true    |76        |
+----------+---------+-------+------+------+------+------+------+--------+----------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import col

In [12]:
spark.sql("select {columns} from {table}",columns=col("first_name") ,table=df_students).show(truncate=False)

+----------+
|first_name|
+----------+
|Alice     |
|Alice     |
|Alice     |
|Alice     |
|Alice     |
|Bob       |
|Bob       |
|Bob       |
|Bob       |
|Bob       |
|Charlie   |
|Charlie   |
|Charlie   |
|Charlie   |
|Charlie   |
|Diane     |
|Diane     |
|Diane     |
|Diane     |
|Diane     |
+----------+
only showing top 20 rows

In [15]:
spark.sql("select first_name, approved, (exam_1+exam_2+exam_3+exam_4+exam_5) AS total from {table}",table=df_students).show(truncate=False)

+----------+--------+-----+
|first_name|approved|total|
+----------+--------+-----+
|Alice     |true    |404  |
|Alice     |true    |399  |
|Alice     |true    |423  |
|Alice     |true    |361  |
|Alice     |false   |283  |
|Bob       |true    |377  |
|Bob       |true    |392  |
|Bob       |true    |309  |
|Bob       |false   |267  |
|Bob       |true    |294  |
|Charlie   |true    |436  |
|Charlie   |true    |441  |
|Charlie   |true    |361  |
|Charlie   |true    |440  |
|Charlie   |true    |388  |
|Diane     |true    |300  |
|Diane     |false   |270  |
|Diane     |true    |336  |
|Diane     |true    |367  |
|Diane     |true    |308  |
+----------+--------+-----+
only showing top 20 rows