# READ CSV SKIP N RECORDS

## Option skipRows Only Databrics

In [0]:
df_normal = spark.read.format("csv") \
    .options(inferSchema="True", 
        header="True",
        sep=",") \
    .load("dbfs:/FileStore/tables/baby_names.csv")

df_normal.show()

+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
+----+----------+-----------+---+-----+
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
|2007|       ZEV|   ROCKLAND|  M|    6|
+----+----------+-----------+---+-----+
only showing top 20 rows

In [0]:
df_normal.count()

Out[6]: 52252

In [0]:
df_skip = spark.read.format("csv") \
    .options(inferSchema="True", 
        header="True",
        sep=",",
        skipRows=4) \
    .load("dbfs:/FileStore/tables/baby_names.csv")

df_skip.show()

+----+-------+-----------+---+---+
|2007|   ZOEY|       ERIE|  F|  9|
+----+-------+-----------+---+---+
|2007|    ZOE|     ULSTER|  F|  5|
|2007|    ZOE|WESTCHESTER|  F| 24|
|2007|    ZOE|      BRONX|  F| 13|
|2007|    ZOE|   NEW YORK|  F| 55|
|2007|    ZOE|     NASSAU|  F| 15|
|2007|    ZOE|       ERIE|  F|  6|
|2007|    ZOE|    SUFFOLK|  F| 14|
|2007|    ZOE|      KINGS|  F| 34|
|2007|    ZOE|     MONROE|  F|  9|
|2007|    ZOE|     QUEENS|  F| 26|
|2007|    ZOE|     ALBANY|  F|  5|
|2007|  ZISSY|   ROCKLAND|  F|  5|
|2007|  ZISSY|      KINGS|  F| 27|
|2007|   ZION|      KINGS|  M| 15|
|2007|   ZION|      BRONX|  M| 14|
|2007|    ZEV|   ROCKLAND|  M|  6|
|2007|    ZEV|      KINGS|  M| 30|
|2007|   ZARA|     QUEENS|  F| 10|
|2007|  ZAIRE|      KINGS|  M| 14|
|2007|ZACKARY|    SUFFOLK|  M|  6|
+----+-------+-----------+---+---+
only showing top 20 rows

In [0]:
df_skip.count()

Out[8]: 52248