# SCHEMA DEFINITION VARIANTS

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/30 13:07:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Column Names w/inferSchema

In [3]:
data_catalog_v1 = [
    (1, 'Harry poter', 'Books', 120, True),
    (2, 'Microwave', 'Kitchen', None, True),
    (3, 'Jacket',180, None,None,),
    (4, None, 'Furniture', 250, False),
    (5, 'Xbox360', 'Toys', None, False)
]

In [4]:
schema_catalog_v1 = ["id","item","category","price","available"]

In [5]:
df_catalog_v1 = spark.createDataFrame(data=data_catalog_v1,schema=schema_catalog_v1)
df_catalog_v1.show()

+---+-----------+---------+-----+---------+
| id|       item| category|price|available|
+---+-----------+---------+-----+---------+
|  1|Harry poter|    Books|  120|     true|
|  2|  Microwave|  Kitchen| NULL|     true|
|  3|     Jacket|      180| NULL|     NULL|
|  4|       NULL|Furniture|  250|    false|
|  5|    Xbox360|     Toys| NULL|    false|
+---+-----------+---------+-----+---------+

## StructType and StructField

In [6]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType

In [7]:
data_catalog_v2 = [
    (1, 'Harry poter', 'Books', 120, True),
    (2, 'Microwave', 'Kitchen', None, True),
    (3, 'Jacket',180, None,None,),
    (4, None, 'Furniture', 250, False),
    (5, 'Xbox360', 'Toys', None, False)
]

In [8]:
schema_catalog_v2 = StructType([
    StructField("id",IntegerType(),False),
    StructField("item",StringType(),True),
    StructField("category",StringType(),True),
    StructField("price",IntegerType(),True),
    StructField("available",BooleanType(),True)
])

In [9]:
df_catalog_v2 = spark.createDataFrame(data=data_catalog_v2,schema=schema_catalog_v2)
df_catalog_v2.show()

+---+-----------+---------+-----+---------+
| id|       item| category|price|available|
+---+-----------+---------+-----+---------+
|  1|Harry poter|    Books|  120|     true|
|  2|  Microwave|  Kitchen| NULL|     true|
|  3|     Jacket|      180| NULL|     NULL|
|  4|       NULL|Furniture|  250|    false|
|  5|    Xbox360|     Toys| NULL|    false|
+---+-----------+---------+-----+---------+

## In DataFrame values

In [10]:
df_catalog_v3 = spark.createDataFrame(
    [(1, 'Harry poter', 'Books', 120, True),
    (2, 'Microwave', 'Kitchen', None, True),
    (3, 'Jacket',180, None,None,),
    (4, None, 'Furniture', 250, False),
    (5, 'Xbox360', 'Toys', None, False)
    ],["id","item","category","price","available"]
)
df_catalog_v3.show()

+---+-----------+---------+-----+---------+
| id|       item| category|price|available|
+---+-----------+---------+-----+---------+
|  1|Harry poter|    Books|  120|     true|
|  2|  Microwave|  Kitchen| NULL|     true|
|  3|     Jacket|      180| NULL|     NULL|
|  4|       NULL|Furniture|  250|    false|
|  5|    Xbox360|     Toys| NULL|    false|
+---+-----------+---------+-----+---------+

## In line SQL style

In [11]:
data_catalog_v4 = [
    (1, 'Harry poter', 'Books', 120, True),
    (2, 'Microwave', 'Kitchen', None, True),
    (3, 'Jacket',180, None,None,),
    (4, None, 'Furniture', 250, False),
    (5, 'Xbox360', 'Toys', None, False)
]

In [12]:
schema_catalog_v4 = "id INTEGER, item STRING, category STRING,price INTEGER, available BOOLEAN"

In [13]:
df_catalog_v4 = spark.createDataFrame(data=data_catalog_v4,schema=schema_catalog_v4)
df_catalog_v4.show()

+---+-----------+---------+-----+---------+
| id|       item| category|price|available|
+---+-----------+---------+-----+---------+
|  1|Harry poter|    Books|  120|     true|
|  2|  Microwave|  Kitchen| NULL|     true|
|  3|     Jacket|      180| NULL|     NULL|
|  4|       NULL|Furniture|  250|    false|
|  5|    Xbox360|     Toys| NULL|    false|
+---+-----------+---------+-----+---------+