In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/01 02:38:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data_employee = [
    (1, "Andrew", "James", "1987-12-25", True, 140000, "model", 6, "Fashion", "2021-05-10"),
    (2, "Linda", "Scott", "1990-05-14", False, 95000, "engineer", 7, "Engineering", "2023-03-22"),
    (3, "Michael", "Brown", "1985-11-07", True, 120000, "teacher", 1, "Education", "2020-11-19"),
    (4, "Jessica", "Wilson", "1992-03-22", False, 75000, "designer", 6, "Design", "2019-08-15"),
    (5, "John", "Davis", "1980-08-19", True, 160000, "lawyer", 1, "Law", "2022-09-30"),
    (6, "Emily", "Clark", "1995-02-10", False, 98000, "architect", 8, "Architecture", "2024-01-12"),
    (7, "David", "Evans", "1983-07-15", True, 130000, "doctor", 9, "Healthcare", "2023-06-05"),
    (8, "Sophia", "Harris", "1988-11-30", False, 110000, "nurse", 7, "Healthcare", "2020-02-18"),
    (9, "Daniel", "Martinez", "1991-06-01", True, 145000, "consultant", 1, "Consulting", "2021-12-14"),
    (10, "Olivia", "Thompson", "1986-09-12", False, 102000, "scientist", 8, "Research", "2022-07-23"),
    (11, "Grace", "Morgan", "1984-05-18", True, 135000, "lawyer", 2, "Law", "2020-03-01"),
    (12, "Henry", "Turner", "1993-11-29", False, 92000, "engineer", 7, "Engineering", "2023-05-21"),
    (13, "Isabella", "Phillips", "1982-07-09", True, 125000, "teacher", 8, "Education", "2024-04-11"),
    (14, "Jack", "Mitchell", "1990-10-16", False, 80000, "designer", 6, "Design", "2019-12-20"),
    (15, "Karen", "Parker", "1987-01-27", True, 155000, "lawyer", 10, "Law", "2022-10-05"),
    (16, "Leo", "Nelson", "1994-02-03", False, 98000, "architect", 3, "Architecture", "2021-07-08"),
    (17, "Mia", "Baker", "1981-09-30", True, 140000, "doctor", 3, "Healthcare", "2020-06-14"),
    (18, "Nathan", "Gonzalez", "1992-11-02", False, 115000, "nurse", 4, "Healthcare", "2023-02-25"),
    (19, "Olivia", "Hall", "1986-03-11", True, 150000, "consultant", 5, "Consulting", "2019-09-19"),
    (20, "Paul", "Rodriguez", "1990-08-20", False, 105000, "scientist", 8, "Research", "2021-11-30")
]

schema_employee = "id INTEGER, first_name STRING, last_name STRING, date_of_birth STRING, bonus BOOLEAN, salary INTEGER, title STRING, experience INTEGER, dept STRING, join_date STRING"

In [4]:
df_employee = spark.createDataFrame(data=data_employee,schema=schema_employee)

df_employee.show(truncate=False)

+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+
|id |first_name|last_name|date_of_birth|bonus|salary|title     |experience|dept        |join_date |
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+
|1  |Andrew    |James    |1987-12-25   |true |140000|model     |6         |Fashion     |2021-05-10|
|2  |Linda     |Scott    |1990-05-14   |false|95000 |engineer  |7         |Engineering |2023-03-22|
|3  |Michael   |Brown    |1985-11-07   |true |120000|teacher   |1         |Education   |2020-11-19|
|4  |Jessica   |Wilson   |1992-03-22   |false|75000 |designer  |6         |Design      |2019-08-15|
|5  |John      |Davis    |1980-08-19   |true |160000|lawyer    |1         |Law         |2022-09-30|
|6  |Emily     |Clark    |1995-02-10   |false|98000 |architect |8         |Architecture|2024-01-12|
|7  |David     |Evans    |1983-07-15   |true |130000|doctor    |9         |Healthcare  |2023-06-05|
|8  |Sophia    |Harris   |1988-11-30   |false|110000|nurse     |7         |Healthcare  |2020-02-18|
|9  |Daniel    |Martinez |1991-06-01   |true |145000|consultant|1         |Consulting  |2021-12-14|
|10 |Olivia    |Thompson |1986-09-12   |false|102000|scientist |8         |Research    |2022-07-23|
|11 |Grace     |Morgan   |1984-05-18   |true |135000|lawyer    |2         |Law         |2020-03-01|
|12 |Henry     |Turner   |1993-11-29   |false|92000 |engineer  |7         |Engineering |2023-05-21|
|13 |Isabella  |Phillips |1982-07-09   |true |125000|teacher   |8         |Education   |2024-04-11|
|14 |Jack      |Mitchell |1990-10-16   |false|80000 |designer  |6         |Design      |2019-12-20|
|15 |Karen     |Parker   |1987-01-27   |true |155000|lawyer    |10        |Law         |2022-10-05|
|16 |Leo       |Nelson   |1994-02-03   |false|98000 |architect |3         |Architecture|2021-07-08|
|17 |Mia       |Baker    |1981-09-30   |true |140000|doctor    |3         |Healthcare  |2020-06-14|
|18 |Nathan    |Gonzalez |1992-11-02   |false|115000|nurse     |4         |Healthcare  |2023-02-25|
|19 |Olivia    |Hall     |1986-03-11   |true |150000|consultant|5         |Consulting  |2019-09-19|
|20 |Paul      |Rodriguez|1990-08-20   |false|105000|scientist |8         |Research    |2021-11-30|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+

## Transformation

In [5]:
from pyspark.sql.functions import col, when, to_date, concat_ws

In [6]:
def example_trasformation(df, percentaje):
    return df.withColumn("extra_pay", 
                         when(col("bonus") == True, col("salary")*percentaje)
                         .otherwise(0))

In [7]:
df_employee.transform(example_trasformation,0.1).show()

+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+
| id|first_name|last_name|date_of_birth|bonus|salary|     title|experience|        dept| join_date|extra_pay|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+
|  1|    Andrew|    James|   1987-12-25| true|140000|     model|         6|     Fashion|2021-05-10|  14000.0|
|  2|     Linda|    Scott|   1990-05-14|false| 95000|  engineer|         7| Engineering|2023-03-22|      0.0|
|  3|   Michael|    Brown|   1985-11-07| true|120000|   teacher|         1|   Education|2020-11-19|  12000.0|
|  4|   Jessica|   Wilson|   1992-03-22|false| 75000|  designer|         6|      Design|2019-08-15|      0.0|
|  5|      John|    Davis|   1980-08-19| true|160000|    lawyer|         1|         Law|2022-09-30|  16000.0|
|  6|     Emily|    Clark|   1995-02-10|false| 98000| architect|         8|Architecture|2024-01-12|      0.0|
|  7|     David|    Evans|   1983-07-15| true|130000|    doctor|         9|  Healthcare|2023-06-05|  13000.0|
|  8|    Sophia|   Harris|   1988-11-30|false|110000|     nurse|         7|  Healthcare|2020-02-18|      0.0|
|  9|    Daniel| Martinez|   1991-06-01| true|145000|consultant|         1|  Consulting|2021-12-14|  14500.0|
| 10|    Olivia| Thompson|   1986-09-12|false|102000| scientist|         8|    Research|2022-07-23|      0.0|
| 11|     Grace|   Morgan|   1984-05-18| true|135000|    lawyer|         2|         Law|2020-03-01|  13500.0|
| 12|     Henry|   Turner|   1993-11-29|false| 92000|  engineer|         7| Engineering|2023-05-21|      0.0|
| 13|  Isabella| Phillips|   1982-07-09| true|125000|   teacher|         8|   Education|2024-04-11|  12500.0|
| 14|      Jack| Mitchell|   1990-10-16|false| 80000|  designer|         6|      Design|2019-12-20|      0.0|
| 15|     Karen|   Parker|   1987-01-27| true|155000|    lawyer|        10|         Law|2022-10-05|  15500.0|
| 16|       Leo|   Nelson|   1994-02-03|false| 98000| architect|         3|Architecture|2021-07-08|      0.0|
| 17|       Mia|    Baker|   1981-09-30| true|140000|    doctor|         3|  Healthcare|2020-06-14|  14000.0|
| 18|    Nathan| Gonzalez|   1992-11-02|false|115000|     nurse|         4|  Healthcare|2023-02-25|      0.0|
| 19|    Olivia|     Hall|   1986-03-11| true|150000|consultant|         5|  Consulting|2019-09-19|  15000.0|
| 20|      Paul|Rodriguez|   1990-08-20|false|105000| scientist|         8|    Research|2021-11-30|      0.0|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+

In [8]:
df_employee.transform(example_trasformation,percentaje=0.1).show()

+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+
| id|first_name|last_name|date_of_birth|bonus|salary|     title|experience|        dept| join_date|extra_pay|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+
|  1|    Andrew|    James|   1987-12-25| true|140000|     model|         6|     Fashion|2021-05-10|  14000.0|
|  2|     Linda|    Scott|   1990-05-14|false| 95000|  engineer|         7| Engineering|2023-03-22|      0.0|
|  3|   Michael|    Brown|   1985-11-07| true|120000|   teacher|         1|   Education|2020-11-19|  12000.0|
|  4|   Jessica|   Wilson|   1992-03-22|false| 75000|  designer|         6|      Design|2019-08-15|      0.0|
|  5|      John|    Davis|   1980-08-19| true|160000|    lawyer|         1|         Law|2022-09-30|  16000.0|
|  6|     Emily|    Clark|   1995-02-10|false| 98000| architect|         8|Architecture|2024-01-12|      0.0|
|  7|     David|    Evans|   1983-07-15| true|130000|    doctor|         9|  Healthcare|2023-06-05|  13000.0|
|  8|    Sophia|   Harris|   1988-11-30|false|110000|     nurse|         7|  Healthcare|2020-02-18|      0.0|
|  9|    Daniel| Martinez|   1991-06-01| true|145000|consultant|         1|  Consulting|2021-12-14|  14500.0|
| 10|    Olivia| Thompson|   1986-09-12|false|102000| scientist|         8|    Research|2022-07-23|      0.0|
| 11|     Grace|   Morgan|   1984-05-18| true|135000|    lawyer|         2|         Law|2020-03-01|  13500.0|
| 12|     Henry|   Turner|   1993-11-29|false| 92000|  engineer|         7| Engineering|2023-05-21|      0.0|
| 13|  Isabella| Phillips|   1982-07-09| true|125000|   teacher|         8|   Education|2024-04-11|  12500.0|
| 14|      Jack| Mitchell|   1990-10-16|false| 80000|  designer|         6|      Design|2019-12-20|      0.0|
| 15|     Karen|   Parker|   1987-01-27| true|155000|    lawyer|        10|         Law|2022-10-05|  15500.0|
| 16|       Leo|   Nelson|   1994-02-03|false| 98000| architect|         3|Architecture|2021-07-08|      0.0|
| 17|       Mia|    Baker|   1981-09-30| true|140000|    doctor|         3|  Healthcare|2020-06-14|  14000.0|
| 18|    Nathan| Gonzalez|   1992-11-02|false|115000|     nurse|         4|  Healthcare|2023-02-25|      0.0|
| 19|    Olivia|     Hall|   1986-03-11| true|150000|consultant|         5|  Consulting|2019-09-19|  15000.0|
| 20|      Paul|Rodriguez|   1990-08-20|false|105000| scientist|         8|    Research|2021-11-30|      0.0|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+

In [9]:
df_employee.transform(lambda df: example_trasformation(df,percentaje=0.1)).show()

+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+
| id|first_name|last_name|date_of_birth|bonus|salary|     title|experience|        dept| join_date|extra_pay|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+
|  1|    Andrew|    James|   1987-12-25| true|140000|     model|         6|     Fashion|2021-05-10|  14000.0|
|  2|     Linda|    Scott|   1990-05-14|false| 95000|  engineer|         7| Engineering|2023-03-22|      0.0|
|  3|   Michael|    Brown|   1985-11-07| true|120000|   teacher|         1|   Education|2020-11-19|  12000.0|
|  4|   Jessica|   Wilson|   1992-03-22|false| 75000|  designer|         6|      Design|2019-08-15|      0.0|
|  5|      John|    Davis|   1980-08-19| true|160000|    lawyer|         1|         Law|2022-09-30|  16000.0|
|  6|     Emily|    Clark|   1995-02-10|false| 98000| architect|         8|Architecture|2024-01-12|      0.0|
|  7|     David|    Evans|   1983-07-15| true|130000|    doctor|         9|  Healthcare|2023-06-05|  13000.0|
|  8|    Sophia|   Harris|   1988-11-30|false|110000|     nurse|         7|  Healthcare|2020-02-18|      0.0|
|  9|    Daniel| Martinez|   1991-06-01| true|145000|consultant|         1|  Consulting|2021-12-14|  14500.0|
| 10|    Olivia| Thompson|   1986-09-12|false|102000| scientist|         8|    Research|2022-07-23|      0.0|
| 11|     Grace|   Morgan|   1984-05-18| true|135000|    lawyer|         2|         Law|2020-03-01|  13500.0|
| 12|     Henry|   Turner|   1993-11-29|false| 92000|  engineer|         7| Engineering|2023-05-21|      0.0|
| 13|  Isabella| Phillips|   1982-07-09| true|125000|   teacher|         8|   Education|2024-04-11|  12500.0|
| 14|      Jack| Mitchell|   1990-10-16|false| 80000|  designer|         6|      Design|2019-12-20|      0.0|
| 15|     Karen|   Parker|   1987-01-27| true|155000|    lawyer|        10|         Law|2022-10-05|  15500.0|
| 16|       Leo|   Nelson|   1994-02-03|false| 98000| architect|         3|Architecture|2021-07-08|      0.0|
| 17|       Mia|    Baker|   1981-09-30| true|140000|    doctor|         3|  Healthcare|2020-06-14|  14000.0|
| 18|    Nathan| Gonzalez|   1992-11-02|false|115000|     nurse|         4|  Healthcare|2023-02-25|      0.0|
| 19|    Olivia|     Hall|   1986-03-11| true|150000|consultant|         5|  Consulting|2019-09-19|  15000.0|
| 20|      Paul|Rodriguez|   1990-08-20|false|105000| scientist|         8|    Research|2021-11-30|      0.0|
+---+----------+---------+-------------+-----+------+----------+----------+------------+----------+---------+

## Multi Transform

In [14]:
def convert_to_date(df, new_name, col_name):
    return df.select("*",(to_date(col(col_name),"yyyy-mm-dd")).alias(new_name)).drop(col_name)

In [11]:
def cal_bonus(df, new_name, percentaje):
    return df.select("*",(when(col("bonus") == True, col("salary")*percentaje).otherwise(0)).alias(new_name))

In [12]:
def fire(df, new_name):
    return df.select("*",(when(col("dept") == "Healthcare", True).otherwise(False)).alias(new_name))

In [15]:
df_employee_v2 = (
    df_employee \
        .transform(convert_to_date,"born_date","date_of_birth")
        .transform(convert_to_date,"date_join","join_date")
        .transform(cal_bonus,"bonus_amount",0.1)
        .transform(fire,"fired")
    )
df_employee_v2.show()

+---+----------+---------+-----+------+----------+----------+------------+----------+----------+------------+-----+
| id|first_name|last_name|bonus|salary|     title|experience|        dept| born_date| date_join|bonus_amount|fired|
+---+----------+---------+-----+------+----------+----------+------------+----------+----------+------------+-----+
|  1|    Andrew|    James| true|140000|     model|         6|     Fashion|1987-01-25|2021-01-10|     14000.0|false|
|  2|     Linda|    Scott|false| 95000|  engineer|         7| Engineering|1990-01-14|2023-01-22|         0.0|false|
|  3|   Michael|    Brown| true|120000|   teacher|         1|   Education|1985-01-07|2020-01-19|     12000.0|false|
|  4|   Jessica|   Wilson|false| 75000|  designer|         6|      Design|1992-01-22|2019-01-15|         0.0|false|
|  5|      John|    Davis| true|160000|    lawyer|         1|         Law|1980-01-19|2022-01-30|     16000.0|false|
|  6|     Emily|    Clark|false| 98000| architect|         8|Architecture|1995-01-10|2024-01-12|         0.0|false|
|  7|     David|    Evans| true|130000|    doctor|         9|  Healthcare|1983-01-15|2023-01-05|     13000.0| true|
|  8|    Sophia|   Harris|false|110000|     nurse|         7|  Healthcare|1988-01-30|2020-01-18|         0.0| true|
|  9|    Daniel| Martinez| true|145000|consultant|         1|  Consulting|1991-01-01|2021-01-14|     14500.0|false|
| 10|    Olivia| Thompson|false|102000| scientist|         8|    Research|1986-01-12|2022-01-23|         0.0|false|
| 11|     Grace|   Morgan| true|135000|    lawyer|         2|         Law|1984-01-18|2020-01-01|     13500.0|false|
| 12|     Henry|   Turner|false| 92000|  engineer|         7| Engineering|1993-01-29|2023-01-21|         0.0|false|
| 13|  Isabella| Phillips| true|125000|   teacher|         8|   Education|1982-01-09|2024-01-11|     12500.0|false|
| 14|      Jack| Mitchell|false| 80000|  designer|         6|      Design|1990-01-16|2019-01-20|         0.0|false|
| 15|     Karen|   Parker| true|155000|    lawyer|        10|         Law|1987-01-27|2022-01-05|     15500.0|false|
| 16|       Leo|   Nelson|false| 98000| architect|         3|Architecture|1994-01-03|2021-01-08|         0.0|false|
| 17|       Mia|    Baker| true|140000|    doctor|         3|  Healthcare|1981-01-30|2020-01-14|     14000.0| true|
| 18|    Nathan| Gonzalez|false|115000|     nurse|         4|  Healthcare|1992-01-02|2023-01-25|         0.0| true|
| 19|    Olivia|     Hall| true|150000|consultant|         5|  Consulting|1986-01-11|2019-01-19|     15000.0|false|
| 20|      Paul|Rodriguez|false|105000| scientist|         8|    Research|1990-01-20|2021-01-30|         0.0|false|
+---+----------+---------+-----+------+----------+----------+------------+----------+----------+------------+-----+

In [16]:
df_employee_v2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- bonus: boolean (nullable = true)
 |-- salary: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- experience: integer (nullable = true)
 |-- dept: string (nullable = true)
 |-- born_date: date (nullable = true)
 |-- date_join: date (nullable = true)
 |-- bonus_amount: double (nullable = true)
 |-- fired: boolean (nullable = false)